iatr_analise_edital_v3_modular.json
{
    "updatedAt": "2026-02-27T12:28:34.347Z",
    "createdAt": "2026-02-24T18:38:59.593Z",
    "id": "4HJSmPLYTNTUnO8y",
    "name": "IATR - An\u00e1lise de Edital v3",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "iatr/analisar",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "66d9162a-633a-42d9-bcfc-2b0c6227bbbc",
            "name": "Webhook Analisar",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                0,
                0
            ],
            "webhookId": "iatr-analisar-trigger"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{$json.headers['x-auth-token']}}",
                            "value2": "daea65de34f273e6755a5ebe9c1bd254243b7b54cc5cd716a9de870c1db6145c"
                        }
                    ]
                }
            },
            "id": "545a3b9b-dc3a-48ee-b027-0c1ed38ddafd",
            "name": "Check Auth",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                208,
                0
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"error\": \"Unauthorized\", \"message\": \"Invalid or missing X-Auth-Token header\" } }}",
                "options": {
                    "responseCode": 401
                }
            },
            "id": "3e12c6a8-9c74-441b-beb1-448445e48cce",
            "name": "Respond 401",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                400,
                208
            ]
        },
        {
            "parameters": {
                "jsCode": "// ============================================================\n// VALIDATE INPUT \u2014 v3: suporta 5 tipos de an\u00e1lise\n// ============================================================\nconst body = $json.body || {};\nconst editalId = body.edital_id;\nconst tipoAnalise = body.tipo_analise || 'resumo_executivo';\n\n// Contexto adicional opcional (para an\u00e1lise com dados da empresa)\nconst contextoEmpresa = body.contexto_empresa || null;\n\nif (!editalId) {\n  throw new Error('Missing edital_id in request body');\n}\n\nconst TIPOS_VALIDOS = [\n  'resumo_executivo',\n  'habilitacao',\n  'verifica_edital',\n  'contratos',\n  'sg_contrato'\n];\n\nif (!TIPOS_VALIDOS.includes(tipoAnalise)) {\n  throw new Error(`tipo_analise must be one of: ${TIPOS_VALIDOS.join(', ')}`);\n}\n\nconst NIVEIS_VALIDOS = ['triagem', 'resumo', 'completa'];\nconst nivelProfundidade = body.nivel_profundidade || 'completa';\nif (!NIVEIS_VALIDOS.includes(nivelProfundidade)) {\n  throw new Error(`nivel_profundidade must be one of: ${NIVEIS_VALIDOS.join(', ')}`);\n}\nconst instrucoesComplementares = body.instrucoes_complementares || null;\nconst traceId = body.trace_id || null;\n\nreturn [{ json: {\n  edital_id: editalId,\n  tipo_analise: tipoAnalise,\n  contexto_empresa: contextoEmpresa,\n  nivel_profundidade: nivelProfundidade,\n  instrucoes_complementares: instrucoesComplementares,\n  trace_id: traceId\n} }];"
            },
            "id": "0aeb54ee-cc65-471a-95c0-d87c5cf95b64",
            "name": "Validate Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                400,
                0
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=UPDATE pncp_editais SET status_analise = 'em_analise', updated_at = NOW() WHERE id = {{$json.edital_id}} RETURNING id, pncp_id, titulo, objeto, orgao, uf, modalidade, valor_estimado, data_encerramento, url_pncp, raw_data, texto_completo, texto_total_caracteres, datajud_orgao, pncp_detalhes, pncp_itens, arquivos_pncp, enriquecido_em;",
                "options": {}
            },
            "id": "44b01cfc-77ac-42a7-a132-8e4d9e0d7d88",
            "name": "Mark In Progress",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                608,
                0
            ],
            "credentials": {
                "postgres": {
                    "id": "sunyata-pg-001",
                    "name": "Sunyata PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Check if edital was found \u2014 v3: includes pncp_detalhes, pncp_itens, arquivos_pncp\nconst rows = $input.all();\nif (!rows.length || !rows[0].json.id) {\n  throw new Error('Edital not found in database');\n}\n\nconst edital = rows[0].json;\nconst tipoAnalise = $('Validate Input').first().json.tipo_analise;\nconst contextoEmpresa = $('Validate Input').first().json.contexto_empresa || null;\nconst nivelProfundidade = $('Validate Input').first().json.nivel_profundidade || 'completa';\nconst instrucoesComplementares = $('Validate Input').first().json.instrucoes_complementares || null;\nconst traceId = $('Validate Input').first().json.trace_id || null;\nconst hasTexto = edital.texto_completo && edital.texto_completo.length > 100;\n\nreturn [{ json: {\n  edital_id: edital.id,\n  pncp_id: edital.pncp_id,\n  titulo: edital.titulo,\n  objeto: edital.objeto,\n  orgao: edital.orgao,\n  uf: edital.uf,\n  modalidade: edital.modalidade,\n  valor_estimado: edital.valor_estimado,\n  data_encerramento: edital.data_encerramento,\n  url_pncp: edital.url_pncp,\n  raw_data: edital.raw_data,\n  datajud_orgao: edital.datajud_orgao || null,\n  pncp_detalhes: edital.pncp_detalhes || null,\n  pncp_itens: edital.pncp_itens || null,\n  arquivos_pncp: edital.arquivos_pncp || null,\n  tipo_analise: tipoAnalise,\n  contexto_empresa: contextoEmpresa,\n  nivel_profundidade: nivelProfundidade,\n  instrucoes_complementares: instrucoesComplementares,\n  trace_id: traceId,\n  has_texto_completo: hasTexto,\n  texto_completo: hasTexto ? edital.texto_completo : null,\n  texto_total_caracteres: edital.texto_total_caracteres || 0\n} }];"
            },
            "id": "c7852d04-2cb0-4c06-93a9-264af8b311fa",
            "name": "Check Edital Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                816,
                0
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.has_texto_completo ? 'yes' : 'no' }}",
                            "value2": "yes"
                        }
                    ]
                }
            },
            "id": "a8de1940-ff0c-4967-8028-8ec9e2b801e5",
            "name": "Has Cached Text?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1816,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://192.168.100.10/api/ai/iatr/extract-pdf",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-Internal-Key",
                            "value": "3be587ec449cb5ddb42c071d61ca5892720179bd7545015aa208275cc200759f"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ edital_id: $json.edital_id, save_to_db: true }) }}",
                "options": {
                    "timeout": 120000
                }
            },
            "id": "622354ba-7c70-467e-a42e-ef683ca1536a",
            "name": "Extract PDF Text",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2024,
                208
            ]
        },
        {
            "parameters": {
                "jsCode": "// After PDF extraction \u2014 handle failure gracefully\nconst extraction = $json;\nconst editalData = $('Check Edital Data').first().json;\n\n// If extraction failed (neverError means we get error in response body)\nif (!extraction.success) {\n  // Continue with metadata-only analysis (fallback like v1)\n  return [{ json: {\n    ...editalData,\n    texto_completo: null,\n    texto_total_caracteres: 0,\n    has_texto_completo: false\n  } }];\n}\n\nreturn [{ json: {\n  ...editalData,\n  texto_completo: extraction.texto_completo,\n  texto_total_caracteres: extraction.total_caracteres,\n  has_texto_completo: true\n} }];"
            },
            "id": "d85604fb-492c-4420-b98e-4989e6db2cdc",
            "name": "Merge Extraction Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2216,
                208
            ]
        },
        {
            "parameters": {
                "jsCode": "// ============================================================\n// BUILD ANALYSIS PROMPT \u2014 v3 MODULAR\n// ============================================================\n// Arquitetura: SYSTEM_BASE (fixo) + TASK_* (por tipo de an\u00e1lise)\n// O system prompt NUNCA muda. S\u00f3 o user message muda.\n// ============================================================\n\nconst edital = $json;\nconst tipoAnalise = edital.tipo_analise;\nconst contextoEmpresa = edital.contexto_empresa;\nconst nivelProfundidade = edital.nivel_profundidade || 'completa';\nconst instrucoesComplementares = edital.instrucoes_complementares || null;\nconst textoEdital = edital.texto_completo || '';\n\n// Truncate if needed (~400k chars \u2248 ~100k tokens)\nconst MAX_CHARS = 200000;\nconst textoTruncado = textoEdital.length > MAX_CHARS\n  ? textoEdital.substring(0, MAX_CHARS) + '\\n\\n[... TEXTO TRUNCADO POR LIMITE DE TAMANHO ...]'\n  : textoEdital;\nconst truncated = textoEdital.length > MAX_CHARS;\nconst hasFullText = textoTruncado && textoTruncado.length > 100;\n\n// ============================================================\n// SYSTEM PROMPT BASE \u2014 compartilhado por TODAS as tarefas\n// ============================================================\nconst SYSTEM_BASE = `Voc\u00ea \u00e9 um analista especializado em contratos e editais de licita\u00e7\u00e3o no Brasil, com dom\u00ednio pr\u00e1tico da Lei n\u00ba 14.133/2021 e normativos correlatos. Voc\u00ea l\u00ea documentos de licita\u00e7\u00e3o (editais, termos de refer\u00eancia, anexos, minutas de contrato, erratas, esclarecimentos) e produz an\u00e1lises t\u00e9cnicas estruturadas.\n\nREGRAS INVIOL\u00c1VEIS\n\n1. LITERALIDADE: Relatar apenas o que estiver explicitamente previsto nos documentos fornecidos. N\u00e3o presumir pr\u00e1ticas usuais, interpreta\u00e7\u00f5es extensivas nem entendimentos impl\u00edcitos.\n2. FONTES EXCLUSIVAS: Basear a an\u00e1lise apenas nos documentos fornecidos pelo usu\u00e1rio. N\u00e3o usar fontes externas, pesquisas na internet nem conhecimento geral sobre editais.\n3. LEITURA INTEGRAL: Ler todos os documentos fornecidos em sua totalidade \u2014 capas, \u00edndices, quadros, tabelas, notas de rodap\u00e9, ap\u00eandices, modelos e anexos.\n4. AUS\u00caNCIAS: Se um requisito comumente esperado n\u00e3o for encontrado em nenhum documento, registr\u00e1-lo como \"n\u00e3o exigido\" \u2014 sem ju\u00edzo de valor.\n5. CONSOLIDA\u00c7\u00c3O: Se o mesmo requisito aparecer em mais de um ponto, consolid\u00e1-lo em um \u00fanico item. Indicar todas as refer\u00eancias onde ocorre. Destacar diferen\u00e7as de reda\u00e7\u00e3o, condi\u00e7\u00f5es adicionais, exce\u00e7\u00f5es ou prazos distintos entre as ocorr\u00eancias.\n6. IMPARCIALIDADE: N\u00e3o emitir pareceres jur\u00eddicos, conclus\u00f5es subjetivas, recomenda\u00e7\u00f5es nem opini\u00f5es. Limitar-se a descrever e compilar informa\u00e7\u00f5es.\n7. SEM DIVAGA\u00c7\u00d5ES: N\u00e3o incluir sauda\u00e7\u00f5es, coment\u00e1rios pessoais, men\u00e7\u00f5es a \"boas pr\u00e1ticas\", sugest\u00f5es nem conclus\u00f5es subjetivas.\n\nFORMATA\u00c7\u00c3O\n\n- Idioma: Portugu\u00eas (Brasil), linguagem formal, clara, objetiva.\n- Estrutura: Relat\u00f3rio t\u00e9cnico com numera\u00e7\u00e3o hier\u00e1rquica (1., 1.1, 1.1.1). Listas numeradas ou com marcadores. At\u00e9 3 n\u00edveis de profundidade.\n- COMPLETUDE: \u00c9 mandat\u00f3rio completar TODAS as se\u00e7\u00f5es previstas. Se o edital for extenso, seja mais conciso em cada subitem mas garanta que todas as se\u00e7\u00f5es ficam preenchidas. NUNCA truncar a an\u00e1lise a meio.\n- T\u00edtulos: Em MAI\u00daSCULAS com numera\u00e7\u00e3o. Sem sintaxe Markdown (#, ##) nem tags HTML.\n- Rastreabilidade: Em cada item relevante, indicar a fonte em it\u00e1lico: [se\u00e7\u00e3o/cl\u00e1usula, p\u00e1g. PDF X; p\u00e1g. interna Y]. Se n\u00e3o houver pagina\u00e7\u00e3o: [se\u00e7\u00e3o/t\u00edtulo].\n- Listas: Sem tabelas (exceto quando a tarefa solicitar explicitamente). Conte\u00fado em listas numeradas ou com marcadores.\n- Layout: Sem recuos artificiais. Sem separadores visuais (---, _____, *, barras). Separa\u00e7\u00e3o apenas por numera\u00e7\u00e3o e t\u00edtulos.\n- Datas: DD/MM/AAAA HH:MM (Bras\u00edlia), em ordem cronol\u00f3gica. Converter prazos relativos em datas apenas se todos os elementos estiverem expl\u00edcitos; caso contr\u00e1rio, manter o prazo relativo e indicar qual elemento falta.\n- Valores: R$ 0.000,00 (ponto para milhares, v\u00edrgula para decimais).\n- Organiza\u00e7\u00e3o: Respeitar as se\u00e7\u00f5es definidas pela tarefa. N\u00e3o repetir conte\u00fado entre se\u00e7\u00f5es. Usar refer\u00eancias cruzadas quando necess\u00e1rio.\n\nTRATAMENTO DE EDGE CASES\n\n- Erratas que contradizem o corpo principal: Registrar ambas as reda\u00e7\u00f5es, indicar a errata como prevalecente e anotar a contradi\u00e7\u00e3o.\n- Anexos referenciados mas n\u00e3o fornecidos: Registrar como \"Anexo [X] referenciado em [localiza\u00e7\u00e3o] \u2014 n\u00e3o fornecido para an\u00e1lise\".\n- Documentos com OCR de baixa qualidade: Se trechos estiverem ileg\u00edveis, indicar \"[trecho ileg\u00edvel em p\u00e1g. PDF X]\".\n- Informa\u00e7\u00f5es conflitantes entre documentos: Registrar ambas as vers\u00f5es com suas respectivas localiza\u00e7\u00f5es, sem eleger uma como correta.`;\n\n// ============================================================\n// TASK PROMPTS \u2014 cada tipo de an\u00e1lise tem seu prompt espec\u00edfico\n// ============================================================\n\nconst TASKS = {\n\n  resumo_executivo: `TAREFA: RESUMO EXECUTIVO DO EDITAL\n\nRealize a leitura integral do edital e de todos os anexos fornecidos. Elabore um relat\u00f3rio t\u00e9cnico estruturado nas 12 se\u00e7\u00f5es abaixo, nesta ordem exata, sem repetir informa\u00e7\u00f5es entre se\u00e7\u00f5es.\n\n1. INFORMA\u00c7\u00d5ES ESSENCIAIS \u2013 dados do processo\n- \u00d3rg\u00e3o (ou entidade) licitante e unidade requisitante.\n- N\u00famero da UASG, se aplic\u00e1vel.\n- N\u00famero da licita\u00e7\u00e3o e n\u00famero do processo administrativo.\n- Modalidade da licita\u00e7\u00e3o, forma de disputa e plataforma ou local da sess\u00e3o p\u00fablica.\n- Abrang\u00eancia ou local(is) de execu\u00e7\u00e3o/entrega do objeto.\n\n2. RESUMO EXECUTIVO \u2013 vis\u00e3o geral\n- S\u00edntese do objeto (tipo de bem, servi\u00e7o ou obra e escopo geral).\n- Modalidade de licita\u00e7\u00e3o, forma de disputa e crit\u00e9rio de julgamento das propostas.\n- Principais prazos do certame e da execu\u00e7\u00e3o contratual.\n- Vis\u00e3o geral sobre valores (exist\u00eancia de or\u00e7amento estimado, forma de apresenta\u00e7\u00e3o de pre\u00e7os).\n- Principais riscos, exig\u00eancias incomuns e pontos que merecem aten\u00e7\u00e3o.\n\n3. DETALHAMENTO DO OBJETO \u2013 especifica\u00e7\u00f5es e quantidades\n- Natureza do objeto e resumo dos itens/lotes com quantidades.\n- Principais requisitos t\u00e9cnicos: caracter\u00edsticas, desempenho m\u00ednimo, qualidade, certifica\u00e7\u00f5es.\n- SLAs, m\u00e9tricas de desempenho e penalidades (se houver).\n- Exig\u00eancia de POCs, amostras, prot\u00f3tipos ou testes de conformidade.\n- Crit\u00e9rios de aceite do objeto.\n- Log\u00edstica e implanta\u00e7\u00e3o: entrega, transporte, instala\u00e7\u00e3o, treinamento.\n- Garantia e suporte: prazos, manuten\u00e7\u00e3o, tempos de resposta/solu\u00e7\u00e3o.\n- Subcontrata\u00e7\u00e3o: permiss\u00f5es, proibi\u00e7\u00f5es, limites.\n- Documentos do fabricante: cartas, declara\u00e7\u00f5es de parceria, autoriza\u00e7\u00f5es.\n- Cl\u00e1usulas de PI, confidencialidade, LGPD, seguran\u00e7a da informa\u00e7\u00e3o.\n- Sustentabilidade e regras sobre marcas/modelos equivalentes.\n\n4. PRAZOS E CRONOGRAMA \u2013 processo e execu\u00e7\u00e3o\n- Datas e hor\u00e1rios do processo licitat\u00f3rio.\n- Prazos de execu\u00e7\u00e3o do contrato.\n- Vig\u00eancia contratual, prorroga\u00e7\u00f5es e marcos relevantes.\n\n5. LOCAL, DATA E HOR\u00c1RIO DA LICITA\u00c7\u00c3O\n- Local/plataforma da sess\u00e3o p\u00fablica.\n- Data e hor\u00e1rio oficiais de abertura.\n\n6. DOCUMENTA\u00c7\u00c3O DE HABILITA\u00c7\u00c3O\n- Habilita\u00e7\u00e3o jur\u00eddica.\n- Regularidade fiscal e trabalhista.\n- Qualifica\u00e7\u00e3o t\u00e9cnica.\n- Qualifica\u00e7\u00e3o econ\u00f4mico-financeira.\n- Declara\u00e7\u00f5es exigidas (todas, com localiza\u00e7\u00e3o exata).\n- Exig\u00eancias dispersas (fora da se\u00e7\u00e3o de habilita\u00e7\u00e3o).\n\n7. REGRAS DE PARTICIPA\u00c7\u00c3O\n- Requisitos gerais.\n- Tratamento diferenciado (ME/EPP, cooperativas, PCD).\n- Visita t\u00e9cnica.\n\n8. CONS\u00d3RCIOS\n- Permitida, vedada ou omissa. Se permitida: requisitos.\n\n9. CRIT\u00c9RIOS DE JULGAMENTO\n- Crit\u00e9rio adotado.\n- Forma de classifica\u00e7\u00e3o.\n- Crit\u00e9rios de desempate.\n\n10. VALORES\n- Or\u00e7amento estimado (divulgado ou sigiloso).\n- Valores de refer\u00eancia.\n- Forma de cota\u00e7\u00e3o.\n- Limites e inexequibilidade.\n\n11. LEGISLA\u00c7\u00c3O APLIC\u00c1VEL\n- Normas expressamente citadas (apenas identifica\u00e7\u00e3o).\n\n12. RISCOS, AMBIGUIDADES E OBSERVA\u00c7\u00d5ES\n- Exig\u00eancias incomuns ou restritivas, com localiza\u00e7\u00e3o.\n- Ambiguidades, contradi\u00e7\u00f5es ou lacunas.\n- Requisitos esperados mas n\u00e3o exigidos.\n- Pontos que motivariam esclarecimento ou impugna\u00e7\u00e3o.`,\n\n  habilitacao: `TAREFA: AN\u00c1LISE DETALHADA DE HABILITA\u00c7\u00c3O\n\nExamine o edital e todos os anexos fornecidos. Identifique e detalhe TODAS as exig\u00eancias de habilita\u00e7\u00e3o presentes em qualquer parte dos documentos.\n\n1. HABILITA\u00c7\u00c3O JUR\u00cdDICA\nDocumentos de constitui\u00e7\u00e3o da empresa. Detalhar cada documento exigido com localiza\u00e7\u00e3o.\n\n2. REGULARIDADE FISCAL E TRABALHISTA\nCertid\u00f5es negativas ou positivas com efeito de negativa. Para cada: nome exato, \u00f3rg\u00e3o emissor, localiza\u00e7\u00e3o no edital.\n\n3. QUALIFICA\u00c7\u00c3O T\u00c9CNICA\n- Atestados: quantidade, par\u00e2metros, regras de soma, concomit\u00e2ncia.\n- Certifica\u00e7\u00f5es de qualidade.\n- Registros profissionais.\n- Equipe t\u00e9cnica ou equipamentos.\n- POCs/amostras: prazos, crit\u00e9rios de aprova\u00e7\u00e3o/reprova\u00e7\u00e3o, consequ\u00eancias.\n\n4. QUALIFICA\u00c7\u00c3O ECON\u00d4MICO-FINANCEIRA\n- Balan\u00e7o e demonstra\u00e7\u00f5es: exerc\u00edcios exigidos, exce\u00e7\u00f5es.\n- \u00cdndices financeiros: f\u00f3rmulas, valores m\u00ednimos, consequ\u00eancias.\n- Certid\u00f5es de fal\u00eancia/recupera\u00e7\u00e3o.\n- Capital/patrim\u00f4nio m\u00ednimo.\n- Garantias de proposta: modalidades, valor, prazo.\n\n5. DECLARA\u00c7\u00d5ES EXIGIDAS\nTODAS as declara\u00e7\u00f5es (incluindo texto corrido). Para cada: denomina\u00e7\u00e3o, localiza\u00e7\u00e3o exata, exist\u00eancia de modelo.\n\n6. EXIG\u00caNCIAS DISPERSAS\nRequisitos de habilita\u00e7\u00e3o FORA da se\u00e7\u00e3o pr\u00f3pria: TR, minuta, modelos, anexos t\u00e9cnicos, garantias/seguros, programa de integridade, consultas a cadastros de san\u00e7\u00e3o.\n\n7. RISCOS E OBSERVA\u00c7\u00d5ES\n- Exig\u00eancias incomuns/restritivas.\n- Ambiguidades/contradi\u00e7\u00f5es sobre habilita\u00e7\u00e3o.\n- Requisitos esperados mas n\u00e3o exigidos.\n- Pontos para esclarecimento ou impugna\u00e7\u00e3o.`,\n\n  verifica_edital: `TAREFA: VERIFICA\u00c7\u00c3O DE INTEGRIDADE DO EDITAL\n\nRealize a leitura t\u00e9cnica de todos os documentos fornecidos. Compare o documento principal com os demais anexos.\n\n1. DOCUMENTOS ANALISADOS\nPara cada arquivo: nome, tipo identificado, n\u00famero de p\u00e1ginas.\n\n2. AN\u00c1LISE DE COBERTURA\nPara cada anexo: se est\u00e1 reproduzido integralmente no principal, se incorporado ou referenciado, diverg\u00eancias de reda\u00e7\u00e3o/numera\u00e7\u00e3o.\n\n3. DOCUMENTOS REFERENCIADOS MAS AUSENTES\nAnexos mencionados mas n\u00e3o fornecidos nem presentes no consolidado. Refer\u00eancia exata.\n\n4. DIVERG\u00caNCIAS IDENTIFICADAS\nDiferen\u00e7as materiais entre vers\u00f5es avulsas e consolidadas. Refer\u00eancias cruzadas inconsistentes.\n\n5. CONCLUS\u00c3O OBJETIVA\nSe o principal consolida todos os demais. Lacunas de cobertura. Diverg\u00eancias que afetem a interpreta\u00e7\u00e3o.`,\n\n  contratos: `TAREFA: EXTRA\u00c7\u00c3O DE DADOS DE CONTRATOS E ADITIVOS\n\nLeia os documentos fornecidos. Extraia exclusivamente informa\u00e7\u00f5es expl\u00edcitas.\n\nREGRAS: Usar data da \u00faltima assinatura eletr\u00f4nica. Datas inferidas: registrar como \"Data inferida a partir de [refer\u00eancia]\". Data de in\u00edcio ausente = data de assinatura. Data de t\u00e9rmino ausente = in\u00edcio + dura\u00e7\u00e3o. Informa\u00e7\u00f5es ausentes = \"N\u00e3o informado\". Entrada separada para cada aditivo.\n\nExce\u00e7\u00e3o \u00e0 regra geral: USAR TABELA nesta tarefa.\n\nPara cada documento extrair: tipo (Contrato/Aditivo/Anexo), n\u00famero, data de assinatura, objeto/finalidade, data de in\u00edcio, data de t\u00e9rmino, dura\u00e7\u00e3o (meses/dias), valor total, observa\u00e7\u00f5es (renova\u00e7\u00f5es, prorroga\u00e7\u00f5es, reajustes, condi\u00e7\u00f5es de vig\u00eancia).\n\nAp\u00f3s a tabela, listar inconsist\u00eancias ou lacunas.`,\n\n  sg_contrato: `TAREFA: SEGURO-GARANTIA \u2014 EXTRA\u00c7\u00c3O, C\u00c1LCULO E EMAIL\n\nETAPA 1: EXTRA\u00c7\u00c3O E C\u00c1LCULO\nPara cada contrato/aditivo extrair: n\u00famero do contrato, n\u00famero do aditivo (se houver), valor, data de in\u00edcio, data de t\u00e9rmino, nome do cliente.\nCalcular: valor do seguro = 5% do valor; validade = t\u00e9rmino + 3 meses.\nSe algum dado estiver ausente, indicar claramente.\n\nETAPA 2: GERA\u00c7\u00c3O DO EMAIL\nPara cada contrato/aditivo, gerar email:\n\nAssunto: Solicita\u00e7\u00e3o de Emiss\u00e3o de Seguro Garantia - Contrato {n\u00famero}\n\nCorpo:\nSenhores,\n\nTrata-se de solicita\u00e7\u00e3o para emiss\u00e3o/endosso de seguro garantia no valor de R$ {valor calculado}, com validade de {data de in\u00edcio} at\u00e9 {data de t\u00e9rmino + 3 meses}, referente ao {aditivo, se houver} ao contrato {n\u00famero}, firmado entre a IATR e a(o) {nome do cliente}.\n\nAnexamos \u00e0 presente o referido Contrato, Termos Aditivos e Ap\u00f3lices.\n\nO tomador ser\u00e1 a INTELIG\u00caNCIA ARTIFICIAL TECNOLOGIA E REFRIGERA\u00c7\u00c3O LTDA, sociedade empres\u00e1ria, com sede na Rua Jos\u00e9 Hip\u00f3lito, n\u00ba 370, Cotiara, Barra Mansa, Rio de Janeiro, RJ, CEP 27.345-000, inscrita no CNPJ sob o n\u00ba 01.579.387/0001-45.`\n\n};\n\n// ============================================================\n// MODEL SELECTION \u2014 modelo otimizado por tipo de tarefa\n// ============================================================\nconst MODEL_MAP = {\n  resumo_executivo: 'claude-sonnet-4-5',\n  habilitacao: 'claude-sonnet-4-5',\n  verifica_edital: 'claude-haiku-4-5',\n  contratos: 'claude-haiku-4-5',\n  sg_contrato: 'claude-haiku-4-5'\n};\n\nconst MAX_TOKENS_MAP = {\n  resumo_executivo: 16000,\n  habilitacao: 16000,\n  verifica_edital: 8000,\n  contratos: 6000,\n  sg_contrato: 4000\n};\n\n// ============================================================\n// NIVEL OVERRIDES \u2014 profundidade ajusta modelo e max_tokens\n// triagem: Haiku + 2k  (triagem r\u00e1pida, baixo custo)\n// resumo:  Sonnet + 8k  (equilibrio qualidade/custo)\n// completa: MODEL_MAP defaults (qualidade maxima)\n// ============================================================\nconst NIVEL_OVERRIDES = {\n  triagem: { model: 'claude-haiku-4-5', maxTokens: 2000 },\n  resumo:  { model: 'claude-sonnet-4-5', maxTokens: 8000 }\n};\nconst TRIAGEM_PREFIX = 'MODO TRIAGEM: Forne\u00e7a an\u00e1lise concisa e r\u00e1pida. Limite-se ao essencial de cada se\u00e7\u00e3o.\\n\\n';\n\n// ============================================================\n// BUILD USER MESSAGE\n// ============================================================\nconst taskPromptBase = TASKS[tipoAnalise];\nconst taskPrompt = nivelProfundidade === 'triagem' ? TRIAGEM_PREFIX + taskPromptBase : taskPromptBase;\nlet selectedModel = MODEL_MAP[tipoAnalise] || 'claude-sonnet-4-5';\nlet maxTokens = MAX_TOKENS_MAP[tipoAnalise] || 16000;\nconst nivelOverride = NIVEL_OVERRIDES[nivelProfundidade];\nif (nivelOverride) {\n  selectedModel = nivelOverride.model;\n  maxTokens = nivelOverride.maxTokens;\n}\n\nlet userMessage = taskPrompt + '\\n\\n---\\n\\n';\n\nif (hasFullText) {\n  userMessage += `DADOS DO EDITAL:\\n` +\n    `- T\u00edtulo: ${edital.titulo || 'N/I'}\\n` +\n    `- \u00d3rg\u00e3o: ${edital.orgao || 'N/I'} (${edital.uf || 'N/I'})\\n` +\n    `- Modalidade: ${edital.modalidade || 'N/I'}\\n` +\n    `- PNCP ID: ${edital.pncp_id || 'N/I'}\\n\\n` +\n    `TEXTO COMPLETO DO EDITAL E ANEXOS:\\n\\n` +\n    textoTruncado;\n\n  if (truncated) {\n    userMessage += `\\n\\nNOTA: O texto foi truncado de ${textoEdital.length.toLocaleString()} para ${MAX_CHARS.toLocaleString()} caracteres por limite de contexto.`;\n  }\n} else {\n  const valor = edital.valor_estimado;\n  userMessage += `DADOS DISPON\u00cdVEIS DO EDITAL (texto completo n\u00e3o dispon\u00edvel):\\n\\n` +\n    `- T\u00edtulo: ${edital.titulo || 'N/I'}\\n` +\n    `- \u00d3rg\u00e3o: ${edital.orgao || 'N/I'} (${edital.uf || 'N/I'})\\n` +\n    `- Modalidade: ${edital.modalidade || 'N/I'}\\n` +\n    `- Valor Estimado: ${typeof valor === 'number' ? 'R$ ' + valor.toLocaleString('pt-BR', {minimumFractionDigits: 2}) : valor || 'N\u00e3o informado'}\\n` +\n    `- Encerramento: ${edital.data_encerramento || 'N/I'}\\n` +\n    `- URL: ${edital.url_pncp || ''}\\n\\n` +\n    `Descri\u00e7\u00e3o do Objeto:\\n${edital.objeto || 'N/I'}\\n\\n` +\n    `NOTA: O texto completo do edital n\u00e3o est\u00e1 dispon\u00edvel. Elabore a an\u00e1lise com base nos dados acima, indicando claramente quais se\u00e7\u00f5es n\u00e3o puderam ser preenchidas por falta de informa\u00e7\u00e3o.`;\n}\n\n// Contexto adicional da empresa (opcional, enviado pelo Portal)\nif (contextoEmpresa) {\n  userMessage += `\\n\\n---\\n\\nCONTEXTO DA EMPRESA LICITANTE:\\n${contextoEmpresa}`;\n}\n\n// --- DataJud context injection (Feature 2 \u2014 from active v3) ---\nlet datajudContext = '';\nconst datajudOrgao = edital.datajud_orgao;\nif (datajudOrgao && typeof datajudOrgao === 'object' && datajudOrgao.total_processos > 0) {\n    const resumo = datajudOrgao.resumo || {};\n    const porClasse = resumo.por_classe || {};\n    const classeList = Object.entries(porClasse).map(([k, v]) => k + ' (' + v + ')').join(', ');\n    datajudContext = '\\n\\n--- CONTEXTO JUDICIAL DO \u00d3RG\u00c3O (DataJud/CNJ) ---\\n';\n    datajudContext += 'O \u00f3rg\u00e3o licitante possui ' + datajudOrgao.total_processos + ' processos judiciais registrados.\\n';\n    datajudContext += 'Distribui\u00e7\u00e3o por tipo: ' + classeList + '.\\n';\n    if (resumo.mais_recente) datajudContext += 'Processo mais recente: ' + resumo.mais_recente + '.\\n';\n    if (resumo.mais_antigo) datajudContext += 'Processo mais antigo: ' + resumo.mais_antigo + '.\\n';\n    datajudContext += 'Considere estas informa\u00e7\u00f5es ao avaliar riscos na an\u00e1lise.\\n';\n}\nuserMessage += datajudContext;\n\n// Instru\u00e7\u00f5es complementares do usu\u00e1rio (injetadas por \u00faltimo, maior prioridade)\nif (instrucoesComplementares) {\n  userMessage += `\\n\\n---\\n\\nINSTRU\u00c7\u00d5ES COMPLEMENTARES DO USU\u00c1RIO:\\n${instrucoesComplementares}`;\n}\n\nreturn [{ json: {\n  edital_id: edital.edital_id,\n  pncp_id: edital.pncp_id,\n  tipo_analise: tipoAnalise,\n  nivel_profundidade: nivelProfundidade,\n  instrucoes_complementares: instrucoesComplementares,\n  trace_id: edital.trace_id || null,\n  system_prompt: SYSTEM_BASE,\n  user_message: userMessage,\n  selected_model: selectedModel,\n  max_tokens: maxTokens,\n  has_full_text: hasFullText,\n  texto_chars: textoTruncado ? textoTruncado.length : 0\n} }];"
            },
            "id": "0c6872e2-644e-43d0-86f2-210c0ccc7a53",
            "name": "Build Analysis Prompt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2424,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://192.168.100.13:4000/v1/chat/completions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer sk-sunyata-ec909e5420572a4c8c496822a9459bcdec1391c7"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.system_prompt) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.user_message) }} }\n  ],\n  \"model\": \"{{ $json.selected_model || 'claude-sonnet-4-5' }}\",\n  \"max_tokens\": {{ $json.max_tokens || 16000 }},\n  \"temperature\": 0.2\n}",
                "options": {
                    "timeout": 480000
                }
            },
            "id": "40ac74f5-47d7-4053-89cc-fe7cdbf4139f",
            "name": "Call LiteLLM",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2616,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "// ============================================================\n// PROCESS LLM RESPONSE \u2014 v3.1: dynamic cost, modo_analise\n// ============================================================\nconst llmResponse = $json;\n// Build Partial Prompt or Build Analysis Prompt may have produced the data\nlet promptData;\ntry {\n  promptData = $('Build Analysis Prompt').first().json;\n} catch(e) {\n  try {\n    promptData = $('Build Partial Prompt').first().json;\n  } catch(e2) {\n    promptData = {};\n  }\n}\n\nconst choices = llmResponse.choices || [];\nconst content = choices.length > 0 ? (choices[0].message?.content || '') : '';\nconst model = llmResponse.model || promptData.selected_model || 'claude-sonnet-4-5';\nconst usage = llmResponse.usage || {};\nconst tokensIn = usage.prompt_tokens || 0;\nconst tokensOut = usage.completion_tokens || 0;\nconst tokensTotal = usage.total_tokens || (tokensIn + tokensOut);\nconst tipoAnalise = promptData.tipo_analise;\nconst modoAnalise = promptData.modo_analise || 'completo';\nconst nivelProfundidade = promptData.nivel_profundidade || 'completa';\nconst traceId = promptData.trace_id || null;\n\n// Custo por modelo (USD per 1K tokens)\nconst COST_MAP = {\n  'claude-sonnet-4-5':  { input: 0.003, output: 0.015 },\n  'claude-haiku-4-5':   { input: 0.0008, output: 0.004 },\n  'claude-opus-4-5':    { input: 0.015, output: 0.075 }\n};\nconst modelBase = Object.keys(COST_MAP).find(k => model.includes(k)) || 'claude-sonnet-4-5';\nconst costs = COST_MAP[modelBase];\nconst custoUsd = (tokensIn * costs.input / 1000) + (tokensOut * costs.output / 1000);\n\nif (!content) {\n  return [{ json: {\n    edital_id: promptData.edital_id,\n    status: 'erro',\n    resultado: JSON.stringify({\n      error: true,\n      message: llmResponse.error?.message || 'Empty response from LiteLLM',\n      tipo_analise: tipoAnalise\n    }),\n    model: model,\n    tokens: tokensTotal,\n    tokens_input: tokensIn,\n    tokens_output: tokensOut,\n    custo_usd: custoUsd,\n    tipo_analise: tipoAnalise,\n    nivel_profundidade: nivelProfundidade,\n    trace_id: traceId,\n    has_full_text: promptData.has_full_text || false,\n    modo_analise: modoAnalise\n  }}];\n}\n\n// Build JSONB fragment \u2014 Portal reads: resultado.resumo_executivo, resultado.habilitacao, etc.\nconst jsonbFragment = {};\njsonbFragment[tipoAnalise] = content;\njsonbFragment.tipo_analise = tipoAnalise;\njsonbFragment.versao_prompt = '3.1';\njsonbFragment.modelo_usado = model;\njsonbFragment.modo_analise = modoAnalise;\n\nreturn [{ json: {\n  edital_id: promptData.edital_id,\n  pncp_id: promptData.pncp_id,\n  status: 'concluida',\n  resultado: JSON.stringify(jsonbFragment),\n  model: model,\n  tokens: tokensTotal,\n  tokens_input: tokensIn,\n  tokens_output: tokensOut,\n  custo_usd: custoUsd,\n  tipo_analise: tipoAnalise,\n  nivel_profundidade: nivelProfundidade,\n  trace_id: traceId,\n  has_full_text: promptData.has_full_text || false,\n  modo_analise: modoAnalise\n}}];"
            },
            "id": "66cf19b1-e19e-44e7-be71-acd37266238c",
            "name": "Process LLM Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2824,
                0
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=UPDATE pncp_editais SET status_analise = '{{ $json.status }}', analise_resultado = COALESCE(analise_resultado, '{}'::jsonb) || $TAG${{ $json.resultado }}$TAG$::jsonb, analise_modelo = '{{ $json.model }}', analise_tipo = '{{ $json.tipo_analise }}', analise_nivel = '{{ $json.nivel_profundidade }}', analise_instrucoes_complementares = NULLIF($INSTRTAG${{ $json.instrucoes_complementares || '' }}$INSTRTAG$, ''), analise_tokens = {{ $json.tokens }}, analise_tokens_input = {{ $json.tokens_input }}, analise_tokens_output = {{ $json.tokens_output }}, analise_custo_usd = {{ $json.custo_usd }}, analise_concluida_em = NOW(), analise_com_texto_completo = {{ $json.has_full_text }}, updated_at = NOW() WHERE id = {{ $json.edital_id }};",
                "options": {}
            },
            "id": "2e3cc335-ee01-42e3-84c7-1fab0d705435",
            "name": "Save Analysis Result",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                3016,
                0
            ],
            "credentials": {
                "postgres": {
                    "id": "sunyata-pg-001",
                    "name": "Sunyata PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// ============================================================\n// FORMAT RESPONSE \u2014 v3.3: dual-pattern Mode C detection\n// N8N 2.7.5 behavior: accessing unexecuted node via $('Name').first()\n// may throw OR return {json:{}}. We handle both:\n// 1. try/catch: catches the throw case\n// 2. sentinel field check: handles the {} return case\n// ============================================================\n\nlet parsed = null;\n\n// Try Process LLM Response (Modes A and B)\ntry {\n  const llmData = $('Process LLM Response').first().json;\n  if (llmData && llmData.edital_id) {\n    parsed = llmData;\n  }\n} catch(e) {\n  // Process LLM Response did not execute (Mode C path) \u2014 try fallback\n}\n\n// Fallback: Build Insufficient Response (Mode C)\nif (!parsed) {\n  try {\n    const insufficientData = $('Build Insufficient Response').first().json;\n    if (insufficientData && insufficientData.edital_id) {\n      parsed = insufficientData;\n    }\n  } catch(e) {\n    // Neither node executed \u2014 should not happen in normal flow\n  }\n}\n\n// Last resort: empty shell to avoid null errors\nif (!parsed) {\n  parsed = {};\n}\n\nreturn [{ json: {\n  success: parsed.status === 'concluida' || parsed.status === 'insuficiente',\n  edital_id: parsed.edital_id,\n  tipo_analise: parsed.tipo_analise,\n  nivel_profundidade: parsed.nivel_profundidade || 'completa',\n  status: parsed.status,\n  modelo: parsed.model,\n  tokens_input: parsed.tokens_input || 0,\n  tokens_output: parsed.tokens_output || 0,\n  custo_usd: parsed.custo_usd || 0.0,\n  com_texto_completo: parsed.has_full_text || false,\n  modo_analise: parsed.modo_analise || 'unknown',\n  versao_prompt: '3.3',\n  timestamp: new Date().toISOString()\n} }];"
            },
            "id": "41de58c8-33e5-4d50-9721-6b5c95a279e7",
            "name": "Format Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                3224,
                0
            ]
        },
        {
            "parameters": {
                "options": {
                    "responseCode": 200
                }
            },
            "id": "d15c1dda-fcaf-444f-9261-d76f3f69cd29",
            "name": "Respond OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                3416,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "// ============================================================\n// DETERMINE ANALYSIS MODE \u2014 v3.3\n// A: texto_completo in DB > 500 chars \u2192 use cached text (Sonnet)\n// A*: no text in DB but arquivos_pncp has PDFs \u2192 try extraction (\u2192 A or B on fail)\n// B: no text, no PDFs, has pncp_itens \u2192 partial analysis (Haiku)\n// C: no text, no PDFs, no items \u2192 no LLM call\n//\n// Key fix: verifica_edital / contratos / sg_contrato are forced to insuficiente\n// if no texto_completo (Mode B is not appropriate for those types)\n// ============================================================\nconst edital = $json;\n\nconst textoCompleto = edital.texto_completo || '';\nconst temTexto = textoCompleto.length > 500;\n\nlet itens = edital.pncp_itens;\nif (typeof itens === 'string') {\n  try { itens = JSON.parse(itens); } catch(e) { itens = null; }\n}\nconst itensList = Array.isArray(itens) ? itens : (itens && Array.isArray(itens.data) ? itens.data : null);\nconst temItens = itensList && itensList.length > 0;\n\nlet detalhes = edital.pncp_detalhes;\nif (typeof detalhes === 'string') {\n  try { detalhes = JSON.parse(detalhes); } catch(e) { detalhes = null; }\n}\n\n// Check if arquivos_pncp has downloadable files (PDFs or other docs)\nlet arquivos = edital.arquivos_pncp;\nif (typeof arquivos === 'string') {\n  try { arquivos = JSON.parse(arquivos); } catch(e) { arquivos = null; }\n}\nconst arquivosList = Array.isArray(arquivos) ? arquivos :\n                     (arquivos && Array.isArray(arquivos.data) ? arquivos.data : null);\nconst temArquivos = arquivosList && arquivosList.length > 0;\n\n// Types that require full document \u2014 cannot work in Mode B (partial)\nconst REQUIRES_FULL_TEXT = ['verifica_edital', 'contratos', 'sg_contrato'];\nconst tipoRequiresFullText = REQUIRES_FULL_TEXT.includes(edital.tipo_analise);\n\nlet modo;\nif (temTexto) {\n  // Text already cached in DB \u2014 use it directly\n  modo = 'completo';\n} else if (tipoRequiresFullText) {\n  // These types need full document: try extraction if files exist, else insuficiente\n  modo = temArquivos ? 'completo' : 'insuficiente';\n} else if (temArquivos) {\n  // No text cached but files exist \u2014 try PDF extraction\n  // Extract PDF Text node handles download; on failure Build Analysis Prompt uses metadata fallback\n  modo = 'completo';\n} else if (temItens) {\n  modo = 'parcial';\n} else {\n  modo = 'insuficiente';\n}\n\nreturn [{ json: {\n  ...edital,\n  modo_analise: modo,\n  tem_texto: temTexto,\n  has_texto_completo: temTexto,\n  tem_itens: temItens,\n  tem_arquivos: temArquivos,\n  pncp_itens_parsed: itensList,\n  pncp_detalhes_parsed: detalhes\n} }];"
            },
            "id": "determine-mode-001",
            "name": "Determine Analysis Mode",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1016,
                0
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.modo_analise }}",
                            "value2": "insuficiente"
                        }
                    ]
                }
            },
            "id": "is-insuficiente-001",
            "name": "Is Insuficiente?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1216,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "// ============================================================\n// MODE C \u2014 Insufficient data, NO LLM call\n// ============================================================\nconst edital = $json;\n\nreturn [{ json: {\n  edital_id: edital.edital_id,\n  pncp_id: edital.pncp_id,\n  status: 'insuficiente',\n  resultado: JSON.stringify({\n    [edital.tipo_analise]: 'Dados insuficientes para an\u00e1lise. Os documentos deste edital n\u00e3o est\u00e3o dispon\u00edveis ou n\u00e3o puderam ser processados. Consulte diretamente no PNCP para baixar os documentos.',\n    reason: 'insufficient_data',\n    pncp_url: edital.url_pncp || '',\n    versao_prompt: '3.1',\n    modo_analise: 'insuficiente'\n  }),\n  model: 'none',\n  tokens: 0,\n  tokens_input: 0,\n  tokens_output: 0,\n  custo_usd: 0,\n  tipo_analise: edital.tipo_analise,\n  nivel_profundidade: edital.nivel_profundidade || 'completa',\n  instrucoes_complementares: edital.instrucoes_complementares || null,\n  trace_id: edital.trace_id || null,\n  has_full_text: false,\n  modo_analise: 'insuficiente'\n} }];"
            },
            "id": "build-insufficient-001",
            "name": "Build Insufficient Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1416,
                208
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.modo_analise }}",
                            "value2": "completo"
                        }
                    ]
                }
            },
            "id": "has-full-text-001",
            "name": "Has Full Text?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1416,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "// ============================================================\n// BUILD PARTIAL ANALYSIS PROMPT \u2014 Mode B (items + metadata only)\n// ============================================================\nconst edital = $json;\nconst tipoAnalise = edital.tipo_analise;\nconst itens = edital.pncp_itens_parsed || [];\nconst detalhes = edital.pncp_detalhes_parsed || {};\n\nconst SYSTEM_BASE = `Voc\u00ea \u00e9 um analista especializado em contratos e editais de licita\u00e7\u00e3o no Brasil, com dom\u00ednio pr\u00e1tico da Lei n\u00ba 14.133/2021 e normativos correlatos. Voc\u00ea l\u00ea documentos de licita\u00e7\u00e3o (editais, termos de refer\u00eancia, anexos, minutas de contrato, erratas, esclarecimentos) e produz an\u00e1lises t\u00e9cnicas estruturadas.\n\nREGRAS INVIOL\u00c1VEIS\n\n1. LITERALIDADE: Relatar apenas o que estiver explicitamente previsto nos documentos fornecidos. N\u00e3o presumir pr\u00e1ticas usuais, interpreta\u00e7\u00f5es extensivas nem entendimentos impl\u00edcitos.\n2. FONTES EXCLUSIVAS: Basear a an\u00e1lise apenas nos documentos fornecidos pelo usu\u00e1rio. N\u00e3o usar fontes externas, pesquisas na internet nem conhecimento geral sobre editais.\n3. LEITURA INTEGRAL: Ler todos os documentos fornecidos em sua totalidade \u2014 capas, \u00edndices, quadros, tabelas, notas de rodap\u00e9, ap\u00eandices, modelos e anexos.\n4. AUS\u00caNCIAS: Se um requisito comumente esperado n\u00e3o for encontrado em nenhum documento, registr\u00e1-lo como \"n\u00e3o exigido\" \u2014 sem ju\u00edzo de valor.\n5. CONSOLIDA\u00c7\u00c3O: Se o mesmo requisito aparecer em mais de um ponto, consolid\u00e1-lo em um \u00fanico item. Indicar todas as refer\u00eancias onde ocorre. Destacar diferen\u00e7as de reda\u00e7\u00e3o, condi\u00e7\u00f5es adicionais, exce\u00e7\u00f5es ou prazos distintos entre as ocorr\u00eancias.\n6. IMPARCIALIDADE: N\u00e3o emitir pareceres jur\u00eddicos, conclus\u00f5es subjetivas, recomenda\u00e7\u00f5es nem opini\u00f5es. Limitar-se a descrever e compilar informa\u00e7\u00f5es.\n7. SEM DIVAGA\u00c7\u00d5ES: N\u00e3o incluir sauda\u00e7\u00f5es, coment\u00e1rios pessoais, men\u00e7\u00f5es a \"boas pr\u00e1ticas\", sugest\u00f5es nem conclus\u00f5es subjetivas.\n\nFORMATA\u00c7\u00c3O\n\n- Idioma: Portugu\u00eas (Brasil), linguagem formal, clara, objetiva.\n- Estrutura: Relat\u00f3rio t\u00e9cnico com numera\u00e7\u00e3o hier\u00e1rquica (1., 1.1, 1.1.1). Listas numeradas ou com marcadores. At\u00e9 3 n\u00edveis de profundidade.\n- T\u00edtulos: Em MAI\u00daSCULAS com numera\u00e7\u00e3o. Sem sintaxe Markdown (#, ##) nem tags HTML.\n- Rastreabilidade: Em cada item relevante, indicar a fonte em it\u00e1lico: [se\u00e7\u00e3o/cl\u00e1usula, p\u00e1g. PDF X; p\u00e1g. interna Y]. Se n\u00e3o houver pagina\u00e7\u00e3o: [se\u00e7\u00e3o/t\u00edtulo].\n- Listas: Sem tabelas (exceto quando a tarefa solicitar explicitamente). Conte\u00fado em listas numeradas ou com marcadores.\n- Layout: Sem recuos artificiais. Sem separadores visuais (---, _____, *, barras). Separa\u00e7\u00e3o apenas por numera\u00e7\u00e3o e t\u00edtulos.\n- Datas: DD/MM/AAAA HH:MM (Bras\u00edlia), em ordem cronol\u00f3gica. Converter prazos relativos em datas apenas se todos os elementos estiverem expl\u00edcitos; caso contr\u00e1rio, manter o prazo relativo e indicar qual elemento falta.\n- Valores: R$ 0.000,00 (ponto para milhares, v\u00edrgula para decimais).\n- Organiza\u00e7\u00e3o: Respeitar as se\u00e7\u00f5es definidas pela tarefa. N\u00e3o repetir conte\u00fado entre se\u00e7\u00f5es. Usar refer\u00eancias cruzadas quando necess\u00e1rio.\n\nTRATAMENTO DE EDGE CASES\n\n- Erratas que contradizem o corpo principal: Registrar ambas as reda\u00e7\u00f5es, indicar a errata como prevalecente e anotar a contradi\u00e7\u00e3o.\n- Anexos referenciados mas n\u00e3o fornecidos: Registrar como \"Anexo [X] referenciado em [localiza\u00e7\u00e3o] \u2014 n\u00e3o fornecido para an\u00e1lise\".\n- Documentos com OCR de baixa qualidade: Se trechos estiverem ileg\u00edveis, indicar \"[trecho ileg\u00edvel em p\u00e1g. PDF X]\".\n- Informa\u00e7\u00f5es conflitantes entre documentos: Registrar ambas as vers\u00f5es com suas respectivas localiza\u00e7\u00f5es, sem eleger uma como correta.`;\n\n// Format items list\nlet itensText = '';\nif (itens.length > 0) {\n  itensText = 'ITENS DA LICITA\u00c7\u00c3O:\\n\\n';\n  for (const item of itens) {\n    const sigiloso = item.orcamentoSigiloso;\n    const valorUnit = sigiloso ? 'Sigiloso'\n      : (item.valorUnitarioEstimado != null\n          ? 'R$ ' + Number(item.valorUnitarioEstimado).toLocaleString('pt-BR', {minimumFractionDigits: 2})\n          : 'N/I');\n    itensText += `- Item ${item.numeroItem}: ${item.descricao || 'N/I'} | Qtd: ${item.quantidade || 'N/I'} ${item.unidadeMedida || ''} | Valor unit.: ${valorUnit} | Crit\u00e9rio: ${item.criterioJulgamentoNome || 'N/I'}\\n`;\n  }\n}\n\nconst amparoLegalRaw = detalhes.amparoLegal || detalhes.amparoLegalNome || '';\nconst amparoLegal = typeof amparoLegalRaw === 'object' ? (amparoLegalRaw.nome || '') : amparoLegalRaw;\n\nconst srp = detalhes.srp != null ? (detalhes.srp ? 'Sim' : 'N\u00e3o') : 'N/I';\n\nlet valorEstimado = 'N\u00e3o informado';\nif (typeof edital.valor_estimado === 'number' && edital.valor_estimado > 0) {\n  valorEstimado = 'R$ ' + edital.valor_estimado.toLocaleString('pt-BR', {minimumFractionDigits: 2});\n} else if (detalhes.orcamentoSigilosoDescricao) {\n  valorEstimado = detalhes.orcamentoSigilosoDescricao;\n}\n\nconst userMessage = `TAREFA: AN\u00c1LISE PARCIAL DO EDITAL (baseada em metadados da API PNCP)\n\nAVISO: O texto completo do edital N\u00c3O est\u00e1 dispon\u00edvel. Esta an\u00e1lise \u00e9 baseada apenas nos dados estruturados da API PNCP (metadados e itens). Gere SOMENTE as 5 se\u00e7\u00f5es abaixo \u2014 n\u00e3o invente se\u00e7\u00f5es adicionais nem tente preencher se\u00e7\u00f5es que dependem do texto do edital.\n\n1. INFORMA\u00c7\u00d5ES ESSENCIAIS\n2. RESUMO EXECUTIVO (parcial \u2014 apenas o que os dados estruturados permitem)\n3. DETALHAMENTO DO OBJETO (itens da API com quantidades e valores)\n10. VALORES (or\u00e7amento estimado conforme API \u2014 se sigiloso, declarar explicitamente)\n12. RISCOS E LIMITA\u00c7\u00d5ES DA AN\u00c1LISE \u2014 liste as se\u00e7\u00f5es n\u00e3o geradas, o que falta para an\u00e1lise completa, e link para documentos no PNCP\n\nNota: Se\u00e7\u00f5es 4, 5, 6, 7, 8, 9, 11 dependem do texto do edital e n\u00e3o ser\u00e3o geradas nesta an\u00e1lise parcial.\n\n---\n\nDADOS DO EDITAL:\n- T\u00edtulo: ${edital.titulo || 'N/I'}\n- \u00d3rg\u00e3o: ${edital.orgao || 'N/I'} (${edital.uf || 'N/I'})\n- Modalidade: ${edital.modalidade || detalhes.modalidadeLicitacaoNome || 'N/I'}\n- Modo de Disputa: ${detalhes.modoDisputaNome || 'N/I'}\n- Amparo Legal: ${amparoLegal || 'N/I'}\n- SRP: ${srp}\n- Processo: ${detalhes.processo || 'N/I'}\n- Valor Estimado: ${valorEstimado}\n- Encerramento: ${edital.data_encerramento || 'N/I'}\n- URL: ${edital.url_pncp || 'N/I'}\n\nDescri\u00e7\u00e3o do Objeto:\n${edital.objeto || 'N/I'}\n\n${itensText}${detalhes.informacaoComplementar ? '\\nINFORMA\u00c7\u00c3O COMPLEMENTAR:\\n' + detalhes.informacaoComplementar : ''}`;\n\nreturn [{ json: {\n  edital_id: edital.edital_id,\n  pncp_id: edital.pncp_id,\n  tipo_analise: tipoAnalise,\n  system_prompt: SYSTEM_BASE,\n  user_message: userMessage,\n  selected_model: 'claude-haiku-4-5',\n  max_tokens: 4000,\n  has_full_text: false,\n  texto_chars: userMessage.length,\n  modo_analise: 'parcial',\n  trace_id: edital.trace_id || null\n} }];"
            },
            "id": "build-partial-001",
            "name": "Build Partial Prompt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1616,
                208
            ]
        },
        {
            "id": "log-whr-001",
            "name": "Log: webhook.received",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                400,
                208
            ],
            "credentials": {
                "postgres": {
                    "id": "sunyata-pg-001",
                    "name": "Sunyata PostgreSQL"
                }
            },
            "onError": "continueRegularOutput",
            "parameters": {
                "operation": "executeQuery",
                "query": "=INSERT INTO system_events (trace_id, source, event_type, severity, entity_type, entity_id, summary, payload) VALUES ({{ $json.trace_id ? '\\'' + $json.trace_id + '\\'' : 'NULL' }}::uuid, 'n8n', 'iatr.webhook.received', 'info', 'edital', '{{ $json.edital_id }}', 'Webhook recebido: {{ $json.tipo_analise }} ({{ $json.nivel_profundidade }})', '{{ JSON.stringify({ tipo_analise: $json.tipo_analise, nivel_profundidade: $json.nivel_profundidade, tem_instrucoes: !!$json.instrucoes_complementares }) }}'::jsonb);",
                "options": {}
            }
        },
        {
            "id": "log-mod-001",
            "name": "Log: mode.determined",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                1016,
                208
            ],
            "credentials": {
                "postgres": {
                    "id": "sunyata-pg-001",
                    "name": "Sunyata PostgreSQL"
                }
            },
            "onError": "continueRegularOutput",
            "parameters": {
                "operation": "executeQuery",
                "query": "=INSERT INTO system_events (trace_id, source, event_type, severity, entity_type, entity_id, summary, payload) VALUES ({{ $json.trace_id ? '\\'' + $json.trace_id + '\\'' : 'NULL' }}::uuid, 'n8n', 'iatr.mode.determined', 'info', 'edital', '{{ $json.edital_id }}', 'Modo: {{ $json.modo_analise }} | Texto: {{ $json.tem_texto }} | Itens: {{ $json.tem_itens }} | Arquivos: {{ $json.tem_arquivos }}', '{{ JSON.stringify({ modo_analise: $json.modo_analise, tem_texto: $json.tem_texto, tem_itens: $json.tem_itens, tem_arquivos: $json.tem_arquivos }) }}'::jsonb);",
                "options": {}
            }
        },
        {
            "id": "log-llm-001",
            "name": "Log: llm.completed",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                2824,
                208
            ],
            "credentials": {
                "postgres": {
                    "id": "sunyata-pg-001",
                    "name": "Sunyata PostgreSQL"
                }
            },
            "onError": "continueRegularOutput",
            "parameters": {
                "operation": "executeQuery",
                "query": "=INSERT INTO system_events (trace_id, source, event_type, severity, entity_type, entity_id, summary, payload) VALUES ({{ $json.trace_id ? '\\'' + $json.trace_id + '\\'' : 'NULL' }}::uuid, 'n8n', '{{ $json.status === \"erro\" ? \"iatr.llm.failed\" : \"iatr.llm.completed\" }}', '{{ $json.status === \"erro\" ? \"error\" : \"info\" }}', 'edital', '{{ $json.edital_id }}', '{{ $json.model }}: {{ $json.tokens_input }}in/{{ $json.tokens_output }}out - ${{ $json.custo_usd }}', '{{ JSON.stringify({ model: $json.model, tokens_input: $json.tokens_input, tokens_output: $json.tokens_output, custo_usd: $json.custo_usd, modo_analise: $json.modo_analise, status: $json.status }) }}'::jsonb);",
                "options": {}
            }
        },
        {
            "id": "log-ana-001",
            "name": "Log: analysis.completed",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                3016,
                208
            ],
            "credentials": {
                "postgres": {
                    "id": "sunyata-pg-001",
                    "name": "Sunyata PostgreSQL"
                }
            },
            "onError": "continueRegularOutput",
            "parameters": {
                "operation": "executeQuery",
                "query": "=INSERT INTO system_events (trace_id, source, event_type, severity, entity_type, entity_id, summary, payload, duration_ms) VALUES ({{ $('Validate Input').first().json.trace_id ? '\\'' + $('Validate Input').first().json.trace_id + '\\'' : 'NULL' }}::uuid, 'n8n', 'iatr.analysis.completed', '{{ (() => { try { const d = $(\"Process LLM Response\").first().json; if (d && d.edital_id) return d.status === \"erro\" ? \"error\" : \"info\"; } catch(e){} return \"info\"; })() }}', 'edital', '{{ (() => { try { const d = $(\"Process LLM Response\").first().json; if (d && d.edital_id) return \"\" + d.edital_id; } catch(e){} try { const d = $(\"Build Insufficient Response\").first().json; if (d && d.edital_id) return \"\" + d.edital_id; } catch(e){} return \"0\"; })() }}', '{{ (() => { try { const d = $(\"Process LLM Response\").first().json; if (d && d.edital_id) return d.status + \": \" + d.tipo_analise + \" (\" + d.modo_analise + \")\"; } catch(e){} try { const d = $(\"Build Insufficient Response\").first().json; if (d && d.edital_id) return \"insuficiente: \" + d.tipo_analise; } catch(e){} return \"analysis.completed\"; })() }}', '{{ (() => { try { const d = $(\"Process LLM Response\").first().json; if (d && d.edital_id) return JSON.stringify({ tipo_analise: d.tipo_analise, status: d.status, modo_analise: d.modo_analise, nivel: d.nivel_profundidade, custo_usd: d.custo_usd, com_texto: d.has_full_text }); } catch(e){} try { const d = $(\"Build Insufficient Response\").first().json; if (d && d.edital_id) return JSON.stringify({ tipo_analise: d.tipo_analise, status: \"insuficiente\", modo_analise: \"insuficiente\", nivel: d.nivel_profundidade, custo_usd: 0, com_texto: false }); } catch(e){} return \"{}\"; })() }}'::jsonb, NULL);",
                "options": {}
            }
        }
    ],
    "connections": {
        "Webhook Analisar": {
            "main": [
                [
                    {
                        "node": "Check Auth",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Auth": {
            "main": [
                [
                    {
                        "node": "Validate Input",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond 401",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Input": {
            "main": [
                [
                    {
                        "node": "Mark In Progress",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Log: webhook.received",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mark In Progress": {
            "main": [
                [
                    {
                        "node": "Check Edital Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Edital Data": {
            "main": [
                [
                    {
                        "node": "Determine Analysis Mode",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Cached Text?": {
            "main": [
                [
                    {
                        "node": "Build Analysis Prompt",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Extract PDF Text",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract PDF Text": {
            "main": [
                [
                    {
                        "node": "Merge Extraction Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Extraction Result": {
            "main": [
                [
                    {
                        "node": "Build Analysis Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Analysis Prompt": {
            "main": [
                [
                    {
                        "node": "Call LiteLLM",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call LiteLLM": {
            "main": [
                [
                    {
                        "node": "Process LLM Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process LLM Response": {
            "main": [
                [
                    {
                        "node": "Save Analysis Result",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Log: llm.completed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Analysis Result": {
            "main": [
                [
                    {
                        "node": "Format Response",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Log: analysis.completed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Response": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Determine Analysis Mode": {
            "main": [
                [
                    {
                        "node": "Is Insuficiente?",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Log: mode.determined",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Insuficiente?": {
            "main": [
                [
                    {
                        "node": "Build Insufficient Response",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Has Full Text?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Insufficient Response": {
            "main": [
                [
                    {
                        "node": "Save Analysis Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Full Text?": {
            "main": [
                [
                    {
                        "node": "Has Cached Text?",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Build Partial Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Partial Prompt": {
            "main": [
                [
                    {
                        "node": "Call LiteLLM",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false,
        "callerPolicy": "workflowsFromSameOwner"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "0c33c78f-2cac-4c7a-82ec-983f5965e0de",
    "activeVersionId": "0c33c78f-2cac-4c7a-82ec-983f5965e0de",
    "versionCounter": 51,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-02-24T18:38:59.595Z",
            "createdAt": "2026-02-24T18:38:59.595Z",
            "role": "workflow:owner",
            "workflowId": "4HJSmPLYTNTUnO8y",
            "projectId": "W0KvnPtDbyZicz8v",
            "project": {
                "updatedAt": "2026-02-13T21:09:28.728Z",
                "createdAt": "2026-02-13T20:59:24.901Z",
                "id": "W0KvnPtDbyZicz8v",
                "name": "FILIPE flitaiff@gmail.com <flitaiff@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "76b2cbce-e8f9-4d9f-8fc2-fd10d1c154e6",
                "projectRelations": [
                    {
                        "updatedAt": "2026-02-13T20:59:24.901Z",
                        "createdAt": "2026-02-13T20:59:24.901Z",
                        "userId": "76b2cbce-e8f9-4d9f-8fc2-fd10d1c154e6",
                        "projectId": "W0KvnPtDbyZicz8v",
                        "user": {
                            "updatedAt": "2026-02-27T07:20:48.000Z",
                            "createdAt": "2026-02-13T20:59:24.644Z",
                            "id": "76b2cbce-e8f9-4d9f-8fc2-fd10d1c154e6",
                            "email": "flitaiff@gmail.com",
                            "firstName": "FILIPE",
                            "lastName": "flitaiff@gmail.com",
                            "personalizationAnswers": {
                                "version": "v4",
                                "personalization_survey_submitted_at": "2026-02-13T21:09:19.220Z",
                                "personalization_survey_n8n_version": "2.7.5"
                            },
                            "settings": {
                                "userActivated": true,
                                "easyAIWorkflowOnboarded": true,
                                "firstSuccessfulWorkflowId": "g8A81QZHFVwKRq2Q",
                                "userActivatedAt": 1771533478645,
                                "npsSurvey": {
                                    "waitingForResponse": true,
                                    "ignoredCount": 1,
                                    "lastShownAt": 1771958306880
                                }
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-02-27",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-02-27T12:28:34.350Z",
        "createdAt": "2026-02-27T12:28:34.350Z",
        "versionId": "0c33c78f-2cac-4c7a-82ec-983f5965e0de",
        "workflowId": "4HJSmPLYTNTUnO8y",
        "nodes": [
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "iatr/analisar",
                    "responseMode": "responseNode",
                    "options": {}
                },
                "id": "66d9162a-633a-42d9-bcfc-2b0c6227bbbc",
                "name": "Webhook Analisar",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 1.1,
                "position": [
                    0,
                    0
                ],
                "webhookId": "iatr-analisar-trigger"
            },
            {
                "parameters": {
                    "conditions": {
                        "string": [
                            {
                                "value1": "={{$json.headers['x-auth-token']}}",
                                "value2": "daea65de34f273e6755a5ebe9c1bd254243b7b54cc5cd716a9de870c1db6145c"
                            }
                        ]
                    }
                },
                "id": "545a3b9b-dc3a-48ee-b027-0c1ed38ddafd",
                "name": "Check Auth",
                "type": "n8n-nodes-base.if",
                "typeVersion": 1,
                "position": [
                    208,
                    0
                ]
            },
            {
                "parameters": {
                    "respondWith": "json",
                    "responseBody": "={{ { \"error\": \"Unauthorized\", \"message\": \"Invalid or missing X-Auth-Token header\" } }}",
                    "options": {
                        "responseCode": 401
                    }
                },
                "id": "3e12c6a8-9c74-441b-beb1-448445e48cce",
                "name": "Respond 401",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1,
                "position": [
                    400,
                    208
                ]
            },
            {
                "parameters": {
                    "jsCode": "// ============================================================\n// VALIDATE INPUT \u2014 v3: suporta 5 tipos de an\u00e1lise\n// ============================================================\nconst body = $json.body || {};\nconst editalId = body.edital_id;\nconst tipoAnalise = body.tipo_analise || 'resumo_executivo';\n\n// Contexto adicional opcional (para an\u00e1lise com dados da empresa)\nconst contextoEmpresa = body.contexto_empresa || null;\n\nif (!editalId) {\n  throw new Error('Missing edital_id in request body');\n}\n\nconst TIPOS_VALIDOS = [\n  'resumo_executivo',\n  'habilitacao',\n  'verifica_edital',\n  'contratos',\n  'sg_contrato'\n];\n\nif (!TIPOS_VALIDOS.includes(tipoAnalise)) {\n  throw new Error(`tipo_analise must be one of: ${TIPOS_VALIDOS.join(', ')}`);\n}\n\nconst NIVEIS_VALIDOS = ['triagem', 'resumo', 'completa'];\nconst nivelProfundidade = body.nivel_profundidade || 'completa';\nif (!NIVEIS_VALIDOS.includes(nivelProfundidade)) {\n  throw new Error(`nivel_profundidade must be one of: ${NIVEIS_VALIDOS.join(', ')}`);\n}\nconst instrucoesComplementares = body.instrucoes_complementares || null;\nconst traceId = body.trace_id || null;\n\nreturn [{ json: {\n  edital_id: editalId,\n  tipo_analise: tipoAnalise,\n  contexto_empresa: contextoEmpresa,\n  nivel_profundidade: nivelProfundidade,\n  instrucoes_complementares: instrucoesComplementares,\n  trace_id: traceId\n} }];"
                },
                "id": "0aeb54ee-cc65-471a-95c0-d87c5cf95b64",
                "name": "Validate Input",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    400,
                    0
                ]
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "=UPDATE pncp_editais SET status_analise = 'em_analise', updated_at = NOW() WHERE id = {{$json.edital_id}} RETURNING id, pncp_id, titulo, objeto, orgao, uf, modalidade, valor_estimado, data_encerramento, url_pncp, raw_data, texto_completo, texto_total_caracteres, datajud_orgao, pncp_detalhes, pncp_itens, arquivos_pncp, enriquecido_em;",
                    "options": {}
                },
                "id": "44b01cfc-77ac-42a7-a132-8e4d9e0d7d88",
                "name": "Mark In Progress",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    608,
                    0
                ],
                "credentials": {
                    "postgres": {
                        "id": "sunyata-pg-001",
                        "name": "Sunyata PostgreSQL"
                    }
                }
            },
            {
                "parameters": {
                    "jsCode": "// Check if edital was found \u2014 v3: includes pncp_detalhes, pncp_itens, arquivos_pncp\nconst rows = $input.all();\nif (!rows.length || !rows[0].json.id) {\n  throw new Error('Edital not found in database');\n}\n\nconst edital = rows[0].json;\nconst tipoAnalise = $('Validate Input').first().json.tipo_analise;\nconst contextoEmpresa = $('Validate Input').first().json.contexto_empresa || null;\nconst nivelProfundidade = $('Validate Input').first().json.nivel_profundidade || 'completa';\nconst instrucoesComplementares = $('Validate Input').first().json.instrucoes_complementares || null;\nconst traceId = $('Validate Input').first().json.trace_id || null;\nconst hasTexto = edital.texto_completo && edital.texto_completo.length > 100;\n\nreturn [{ json: {\n  edital_id: edital.id,\n  pncp_id: edital.pncp_id,\n  titulo: edital.titulo,\n  objeto: edital.objeto,\n  orgao: edital.orgao,\n  uf: edital.uf,\n  modalidade: edital.modalidade,\n  valor_estimado: edital.valor_estimado,\n  data_encerramento: edital.data_encerramento,\n  url_pncp: edital.url_pncp,\n  raw_data: edital.raw_data,\n  datajud_orgao: edital.datajud_orgao || null,\n  pncp_detalhes: edital.pncp_detalhes || null,\n  pncp_itens: edital.pncp_itens || null,\n  arquivos_pncp: edital.arquivos_pncp || null,\n  tipo_analise: tipoAnalise,\n  contexto_empresa: contextoEmpresa,\n  nivel_profundidade: nivelProfundidade,\n  instrucoes_complementares: instrucoesComplementares,\n  trace_id: traceId,\n  has_texto_completo: hasTexto,\n  texto_completo: hasTexto ? edital.texto_completo : null,\n  texto_total_caracteres: edital.texto_total_caracteres || 0\n} }];"
                },
                "id": "c7852d04-2cb0-4c06-93a9-264af8b311fa",
                "name": "Check Edital Data",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    816,
                    0
                ]
            },
            {
                "parameters": {
                    "conditions": {
                        "string": [
                            {
                                "value1": "={{ $json.has_texto_completo ? 'yes' : 'no' }}",
                                "value2": "yes"
                            }
                        ]
                    }
                },
                "id": "a8de1940-ff0c-4967-8028-8ec9e2b801e5",
                "name": "Has Cached Text?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 1,
                "position": [
                    1816,
                    0
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "http://192.168.100.10/api/ai/iatr/extract-pdf",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "X-Internal-Key",
                                "value": "3be587ec449cb5ddb42c071d61ca5892720179bd7545015aa208275cc200759f"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({ edital_id: $json.edital_id, save_to_db: true }) }}",
                    "options": {
                        "timeout": 120000
                    }
                },
                "id": "622354ba-7c70-467e-a42e-ef683ca1536a",
                "name": "Extract PDF Text",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    2024,
                    208
                ]
            },
            {
                "parameters": {
                    "jsCode": "// After PDF extraction \u2014 handle failure gracefully\nconst extraction = $json;\nconst editalData = $('Check Edital Data').first().json;\n\n// If extraction failed (neverError means we get error in response body)\nif (!extraction.success) {\n  // Continue with metadata-only analysis (fallback like v1)\n  return [{ json: {\n    ...editalData,\n    texto_completo: null,\n    texto_total_caracteres: 0,\n    has_texto_completo: false\n  } }];\n}\n\nreturn [{ json: {\n  ...editalData,\n  texto_completo: extraction.texto_completo,\n  texto_total_caracteres: extraction.total_caracteres,\n  has_texto_completo: true\n} }];"
                },
                "id": "d85604fb-492c-4420-b98e-4989e6db2cdc",
                "name": "Merge Extraction Result",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    2216,
                    208
                ]
            },
            {
                "parameters": {
                    "jsCode": "// ============================================================\n// BUILD ANALYSIS PROMPT \u2014 v3 MODULAR\n// ============================================================\n// Arquitetura: SYSTEM_BASE (fixo) + TASK_* (por tipo de an\u00e1lise)\n// O system prompt NUNCA muda. S\u00f3 o user message muda.\n// ============================================================\n\nconst edital = $json;\nconst tipoAnalise = edital.tipo_analise;\nconst contextoEmpresa = edital.contexto_empresa;\nconst nivelProfundidade = edital.nivel_profundidade || 'completa';\nconst instrucoesComplementares = edital.instrucoes_complementares || null;\nconst textoEdital = edital.texto_completo || '';\n\n// Truncate if needed (~400k chars \u2248 ~100k tokens)\nconst MAX_CHARS = 200000;\nconst textoTruncado = textoEdital.length > MAX_CHARS\n  ? textoEdital.substring(0, MAX_CHARS) + '\\n\\n[... TEXTO TRUNCADO POR LIMITE DE TAMANHO ...]'\n  : textoEdital;\nconst truncated = textoEdital.length > MAX_CHARS;\nconst hasFullText = textoTruncado && textoTruncado.length > 100;\n\n// ============================================================\n// SYSTEM PROMPT BASE \u2014 compartilhado por TODAS as tarefas\n// ============================================================\nconst SYSTEM_BASE = `Voc\u00ea \u00e9 um analista especializado em contratos e editais de licita\u00e7\u00e3o no Brasil, com dom\u00ednio pr\u00e1tico da Lei n\u00ba 14.133/2021 e normativos correlatos. Voc\u00ea l\u00ea documentos de licita\u00e7\u00e3o (editais, termos de refer\u00eancia, anexos, minutas de contrato, erratas, esclarecimentos) e produz an\u00e1lises t\u00e9cnicas estruturadas.\n\nREGRAS INVIOL\u00c1VEIS\n\n1. LITERALIDADE: Relatar apenas o que estiver explicitamente previsto nos documentos fornecidos. N\u00e3o presumir pr\u00e1ticas usuais, interpreta\u00e7\u00f5es extensivas nem entendimentos impl\u00edcitos.\n2. FONTES EXCLUSIVAS: Basear a an\u00e1lise apenas nos documentos fornecidos pelo usu\u00e1rio. N\u00e3o usar fontes externas, pesquisas na internet nem conhecimento geral sobre editais.\n3. LEITURA INTEGRAL: Ler todos os documentos fornecidos em sua totalidade \u2014 capas, \u00edndices, quadros, tabelas, notas de rodap\u00e9, ap\u00eandices, modelos e anexos.\n4. AUS\u00caNCIAS: Se um requisito comumente esperado n\u00e3o for encontrado em nenhum documento, registr\u00e1-lo como \"n\u00e3o exigido\" \u2014 sem ju\u00edzo de valor.\n5. CONSOLIDA\u00c7\u00c3O: Se o mesmo requisito aparecer em mais de um ponto, consolid\u00e1-lo em um \u00fanico item. Indicar todas as refer\u00eancias onde ocorre. Destacar diferen\u00e7as de reda\u00e7\u00e3o, condi\u00e7\u00f5es adicionais, exce\u00e7\u00f5es ou prazos distintos entre as ocorr\u00eancias.\n6. IMPARCIALIDADE: N\u00e3o emitir pareceres jur\u00eddicos, conclus\u00f5es subjetivas, recomenda\u00e7\u00f5es nem opini\u00f5es. Limitar-se a descrever e compilar informa\u00e7\u00f5es.\n7. SEM DIVAGA\u00c7\u00d5ES: N\u00e3o incluir sauda\u00e7\u00f5es, coment\u00e1rios pessoais, men\u00e7\u00f5es a \"boas pr\u00e1ticas\", sugest\u00f5es nem conclus\u00f5es subjetivas.\n\nFORMATA\u00c7\u00c3O\n\n- Idioma: Portugu\u00eas (Brasil), linguagem formal, clara, objetiva.\n- Estrutura: Relat\u00f3rio t\u00e9cnico com numera\u00e7\u00e3o hier\u00e1rquica (1., 1.1, 1.1.1). Listas numeradas ou com marcadores. At\u00e9 3 n\u00edveis de profundidade.\n- COMPLETUDE: \u00c9 mandat\u00f3rio completar TODAS as se\u00e7\u00f5es previstas. Se o edital for extenso, seja mais conciso em cada subitem mas garanta que todas as se\u00e7\u00f5es ficam preenchidas. NUNCA truncar a an\u00e1lise a meio.\n- T\u00edtulos: Em MAI\u00daSCULAS com numera\u00e7\u00e3o. Sem sintaxe Markdown (#, ##) nem tags HTML.\n- Rastreabilidade: Em cada item relevante, indicar a fonte em it\u00e1lico: [se\u00e7\u00e3o/cl\u00e1usula, p\u00e1g. PDF X; p\u00e1g. interna Y]. Se n\u00e3o houver pagina\u00e7\u00e3o: [se\u00e7\u00e3o/t\u00edtulo].\n- Listas: Sem tabelas (exceto quando a tarefa solicitar explicitamente). Conte\u00fado em listas numeradas ou com marcadores.\n- Layout: Sem recuos artificiais. Sem separadores visuais (---, _____, *, barras). Separa\u00e7\u00e3o apenas por numera\u00e7\u00e3o e t\u00edtulos.\n- Datas: DD/MM/AAAA HH:MM (Bras\u00edlia), em ordem cronol\u00f3gica. Converter prazos relativos em datas apenas se todos os elementos estiverem expl\u00edcitos; caso contr\u00e1rio, manter o prazo relativo e indicar qual elemento falta.\n- Valores: R$ 0.000,00 (ponto para milhares, v\u00edrgula para decimais).\n- Organiza\u00e7\u00e3o: Respeitar as se\u00e7\u00f5es definidas pela tarefa. N\u00e3o repetir conte\u00fado entre se\u00e7\u00f5es. Usar refer\u00eancias cruzadas quando necess\u00e1rio.\n\nTRATAMENTO DE EDGE CASES\n\n- Erratas que contradizem o corpo principal: Registrar ambas as reda\u00e7\u00f5es, indicar a errata como prevalecente e anotar a contradi\u00e7\u00e3o.\n- Anexos referenciados mas n\u00e3o fornecidos: Registrar como \"Anexo [X] referenciado em [localiza\u00e7\u00e3o] \u2014 n\u00e3o fornecido para an\u00e1lise\".\n- Documentos com OCR de baixa qualidade: Se trechos estiverem ileg\u00edveis, indicar \"[trecho ileg\u00edvel em p\u00e1g. PDF X]\".\n- Informa\u00e7\u00f5es conflitantes entre documentos: Registrar ambas as vers\u00f5es com suas respectivas localiza\u00e7\u00f5es, sem eleger uma como correta.`;\n\n// ============================================================\n// TASK PROMPTS \u2014 cada tipo de an\u00e1lise tem seu prompt espec\u00edfico\n// ============================================================\n\nconst TASKS = {\n\n  resumo_executivo: `TAREFA: RESUMO EXECUTIVO DO EDITAL\n\nRealize a leitura integral do edital e de todos os anexos fornecidos. Elabore um relat\u00f3rio t\u00e9cnico estruturado nas 12 se\u00e7\u00f5es abaixo, nesta ordem exata, sem repetir informa\u00e7\u00f5es entre se\u00e7\u00f5es.\n\n1. INFORMA\u00c7\u00d5ES ESSENCIAIS \u2013 dados do processo\n- \u00d3rg\u00e3o (ou entidade) licitante e unidade requisitante.\n- N\u00famero da UASG, se aplic\u00e1vel.\n- N\u00famero da licita\u00e7\u00e3o e n\u00famero do processo administrativo.\n- Modalidade da licita\u00e7\u00e3o, forma de disputa e plataforma ou local da sess\u00e3o p\u00fablica.\n- Abrang\u00eancia ou local(is) de execu\u00e7\u00e3o/entrega do objeto.\n\n2. RESUMO EXECUTIVO \u2013 vis\u00e3o geral\n- S\u00edntese do objeto (tipo de bem, servi\u00e7o ou obra e escopo geral).\n- Modalidade de licita\u00e7\u00e3o, forma de disputa e crit\u00e9rio de julgamento das propostas.\n- Principais prazos do certame e da execu\u00e7\u00e3o contratual.\n- Vis\u00e3o geral sobre valores (exist\u00eancia de or\u00e7amento estimado, forma de apresenta\u00e7\u00e3o de pre\u00e7os).\n- Principais riscos, exig\u00eancias incomuns e pontos que merecem aten\u00e7\u00e3o.\n\n3. DETALHAMENTO DO OBJETO \u2013 especifica\u00e7\u00f5es e quantidades\n- Natureza do objeto e resumo dos itens/lotes com quantidades.\n- Principais requisitos t\u00e9cnicos: caracter\u00edsticas, desempenho m\u00ednimo, qualidade, certifica\u00e7\u00f5es.\n- SLAs, m\u00e9tricas de desempenho e penalidades (se houver).\n- Exig\u00eancia de POCs, amostras, prot\u00f3tipos ou testes de conformidade.\n- Crit\u00e9rios de aceite do objeto.\n- Log\u00edstica e implanta\u00e7\u00e3o: entrega, transporte, instala\u00e7\u00e3o, treinamento.\n- Garantia e suporte: prazos, manuten\u00e7\u00e3o, tempos de resposta/solu\u00e7\u00e3o.\n- Subcontrata\u00e7\u00e3o: permiss\u00f5es, proibi\u00e7\u00f5es, limites.\n- Documentos do fabricante: cartas, declara\u00e7\u00f5es de parceria, autoriza\u00e7\u00f5es.\n- Cl\u00e1usulas de PI, confidencialidade, LGPD, seguran\u00e7a da informa\u00e7\u00e3o.\n- Sustentabilidade e regras sobre marcas/modelos equivalentes.\n\n4. PRAZOS E CRONOGRAMA \u2013 processo e execu\u00e7\u00e3o\n- Datas e hor\u00e1rios do processo licitat\u00f3rio.\n- Prazos de execu\u00e7\u00e3o do contrato.\n- Vig\u00eancia contratual, prorroga\u00e7\u00f5es e marcos relevantes.\n\n5. LOCAL, DATA E HOR\u00c1RIO DA LICITA\u00c7\u00c3O\n- Local/plataforma da sess\u00e3o p\u00fablica.\n- Data e hor\u00e1rio oficiais de abertura.\n\n6. DOCUMENTA\u00c7\u00c3O DE HABILITA\u00c7\u00c3O\n- Habilita\u00e7\u00e3o jur\u00eddica.\n- Regularidade fiscal e trabalhista.\n- Qualifica\u00e7\u00e3o t\u00e9cnica.\n- Qualifica\u00e7\u00e3o econ\u00f4mico-financeira.\n- Declara\u00e7\u00f5es exigidas (todas, com localiza\u00e7\u00e3o exata).\n- Exig\u00eancias dispersas (fora da se\u00e7\u00e3o de habilita\u00e7\u00e3o).\n\n7. REGRAS DE PARTICIPA\u00c7\u00c3O\n- Requisitos gerais.\n- Tratamento diferenciado (ME/EPP, cooperativas, PCD).\n- Visita t\u00e9cnica.\n\n8. CONS\u00d3RCIOS\n- Permitida, vedada ou omissa. Se permitida: requisitos.\n\n9. CRIT\u00c9RIOS DE JULGAMENTO\n- Crit\u00e9rio adotado.\n- Forma de classifica\u00e7\u00e3o.\n- Crit\u00e9rios de desempate.\n\n10. VALORES\n- Or\u00e7amento estimado (divulgado ou sigiloso).\n- Valores de refer\u00eancia.\n- Forma de cota\u00e7\u00e3o.\n- Limites e inexequibilidade.\n\n11. LEGISLA\u00c7\u00c3O APLIC\u00c1VEL\n- Normas expressamente citadas (apenas identifica\u00e7\u00e3o).\n\n12. RISCOS, AMBIGUIDADES E OBSERVA\u00c7\u00d5ES\n- Exig\u00eancias incomuns ou restritivas, com localiza\u00e7\u00e3o.\n- Ambiguidades, contradi\u00e7\u00f5es ou lacunas.\n- Requisitos esperados mas n\u00e3o exigidos.\n- Pontos que motivariam esclarecimento ou impugna\u00e7\u00e3o.`,\n\n  habilitacao: `TAREFA: AN\u00c1LISE DETALHADA DE HABILITA\u00c7\u00c3O\n\nExamine o edital e todos os anexos fornecidos. Identifique e detalhe TODAS as exig\u00eancias de habilita\u00e7\u00e3o presentes em qualquer parte dos documentos.\n\n1. HABILITA\u00c7\u00c3O JUR\u00cdDICA\nDocumentos de constitui\u00e7\u00e3o da empresa. Detalhar cada documento exigido com localiza\u00e7\u00e3o.\n\n2. REGULARIDADE FISCAL E TRABALHISTA\nCertid\u00f5es negativas ou positivas com efeito de negativa. Para cada: nome exato, \u00f3rg\u00e3o emissor, localiza\u00e7\u00e3o no edital.\n\n3. QUALIFICA\u00c7\u00c3O T\u00c9CNICA\n- Atestados: quantidade, par\u00e2metros, regras de soma, concomit\u00e2ncia.\n- Certifica\u00e7\u00f5es de qualidade.\n- Registros profissionais.\n- Equipe t\u00e9cnica ou equipamentos.\n- POCs/amostras: prazos, crit\u00e9rios de aprova\u00e7\u00e3o/reprova\u00e7\u00e3o, consequ\u00eancias.\n\n4. QUALIFICA\u00c7\u00c3O ECON\u00d4MICO-FINANCEIRA\n- Balan\u00e7o e demonstra\u00e7\u00f5es: exerc\u00edcios exigidos, exce\u00e7\u00f5es.\n- \u00cdndices financeiros: f\u00f3rmulas, valores m\u00ednimos, consequ\u00eancias.\n- Certid\u00f5es de fal\u00eancia/recupera\u00e7\u00e3o.\n- Capital/patrim\u00f4nio m\u00ednimo.\n- Garantias de proposta: modalidades, valor, prazo.\n\n5. DECLARA\u00c7\u00d5ES EXIGIDAS\nTODAS as declara\u00e7\u00f5es (incluindo texto corrido). Para cada: denomina\u00e7\u00e3o, localiza\u00e7\u00e3o exata, exist\u00eancia de modelo.\n\n6. EXIG\u00caNCIAS DISPERSAS\nRequisitos de habilita\u00e7\u00e3o FORA da se\u00e7\u00e3o pr\u00f3pria: TR, minuta, modelos, anexos t\u00e9cnicos, garantias/seguros, programa de integridade, consultas a cadastros de san\u00e7\u00e3o.\n\n7. RISCOS E OBSERVA\u00c7\u00d5ES\n- Exig\u00eancias incomuns/restritivas.\n- Ambiguidades/contradi\u00e7\u00f5es sobre habilita\u00e7\u00e3o.\n- Requisitos esperados mas n\u00e3o exigidos.\n- Pontos para esclarecimento ou impugna\u00e7\u00e3o.`,\n\n  verifica_edital: `TAREFA: VERIFICA\u00c7\u00c3O DE INTEGRIDADE DO EDITAL\n\nRealize a leitura t\u00e9cnica de todos os documentos fornecidos. Compare o documento principal com os demais anexos.\n\n1. DOCUMENTOS ANALISADOS\nPara cada arquivo: nome, tipo identificado, n\u00famero de p\u00e1ginas.\n\n2. AN\u00c1LISE DE COBERTURA\nPara cada anexo: se est\u00e1 reproduzido integralmente no principal, se incorporado ou referenciado, diverg\u00eancias de reda\u00e7\u00e3o/numera\u00e7\u00e3o.\n\n3. DOCUMENTOS REFERENCIADOS MAS AUSENTES\nAnexos mencionados mas n\u00e3o fornecidos nem presentes no consolidado. Refer\u00eancia exata.\n\n4. DIVERG\u00caNCIAS IDENTIFICADAS\nDiferen\u00e7as materiais entre vers\u00f5es avulsas e consolidadas. Refer\u00eancias cruzadas inconsistentes.\n\n5. CONCLUS\u00c3O OBJETIVA\nSe o principal consolida todos os demais. Lacunas de cobertura. Diverg\u00eancias que afetem a interpreta\u00e7\u00e3o.`,\n\n  contratos: `TAREFA: EXTRA\u00c7\u00c3O DE DADOS DE CONTRATOS E ADITIVOS\n\nLeia os documentos fornecidos. Extraia exclusivamente informa\u00e7\u00f5es expl\u00edcitas.\n\nREGRAS: Usar data da \u00faltima assinatura eletr\u00f4nica. Datas inferidas: registrar como \"Data inferida a partir de [refer\u00eancia]\". Data de in\u00edcio ausente = data de assinatura. Data de t\u00e9rmino ausente = in\u00edcio + dura\u00e7\u00e3o. Informa\u00e7\u00f5es ausentes = \"N\u00e3o informado\". Entrada separada para cada aditivo.\n\nExce\u00e7\u00e3o \u00e0 regra geral: USAR TABELA nesta tarefa.\n\nPara cada documento extrair: tipo (Contrato/Aditivo/Anexo), n\u00famero, data de assinatura, objeto/finalidade, data de in\u00edcio, data de t\u00e9rmino, dura\u00e7\u00e3o (meses/dias), valor total, observa\u00e7\u00f5es (renova\u00e7\u00f5es, prorroga\u00e7\u00f5es, reajustes, condi\u00e7\u00f5es de vig\u00eancia).\n\nAp\u00f3s a tabela, listar inconsist\u00eancias ou lacunas.`,\n\n  sg_contrato: `TAREFA: SEGURO-GARANTIA \u2014 EXTRA\u00c7\u00c3O, C\u00c1LCULO E EMAIL\n\nETAPA 1: EXTRA\u00c7\u00c3O E C\u00c1LCULO\nPara cada contrato/aditivo extrair: n\u00famero do contrato, n\u00famero do aditivo (se houver), valor, data de in\u00edcio, data de t\u00e9rmino, nome do cliente.\nCalcular: valor do seguro = 5% do valor; validade = t\u00e9rmino + 3 meses.\nSe algum dado estiver ausente, indicar claramente.\n\nETAPA 2: GERA\u00c7\u00c3O DO EMAIL\nPara cada contrato/aditivo, gerar email:\n\nAssunto: Solicita\u00e7\u00e3o de Emiss\u00e3o de Seguro Garantia - Contrato {n\u00famero}\n\nCorpo:\nSenhores,\n\nTrata-se de solicita\u00e7\u00e3o para emiss\u00e3o/endosso de seguro garantia no valor de R$ {valor calculado}, com validade de {data de in\u00edcio} at\u00e9 {data de t\u00e9rmino + 3 meses}, referente ao {aditivo, se houver} ao contrato {n\u00famero}, firmado entre a IATR e a(o) {nome do cliente}.\n\nAnexamos \u00e0 presente o referido Contrato, Termos Aditivos e Ap\u00f3lices.\n\nO tomador ser\u00e1 a INTELIG\u00caNCIA ARTIFICIAL TECNOLOGIA E REFRIGERA\u00c7\u00c3O LTDA, sociedade empres\u00e1ria, com sede na Rua Jos\u00e9 Hip\u00f3lito, n\u00ba 370, Cotiara, Barra Mansa, Rio de Janeiro, RJ, CEP 27.345-000, inscrita no CNPJ sob o n\u00ba 01.579.387/0001-45.`\n\n};\n\n// ============================================================\n// MODEL SELECTION \u2014 modelo otimizado por tipo de tarefa\n// ============================================================\nconst MODEL_MAP = {\n  resumo_executivo: 'claude-sonnet-4-5',\n  habilitacao: 'claude-sonnet-4-5',\n  verifica_edital: 'claude-haiku-4-5',\n  contratos: 'claude-haiku-4-5',\n  sg_contrato: 'claude-haiku-4-5'\n};\n\nconst MAX_TOKENS_MAP = {\n  resumo_executivo: 16000,\n  habilitacao: 16000,\n  verifica_edital: 8000,\n  contratos: 6000,\n  sg_contrato: 4000\n};\n\n// ============================================================\n// NIVEL OVERRIDES \u2014 profundidade ajusta modelo e max_tokens\n// triagem: Haiku + 2k  (triagem r\u00e1pida, baixo custo)\n// resumo:  Sonnet + 8k  (equilibrio qualidade/custo)\n// completa: MODEL_MAP defaults (qualidade maxima)\n// ============================================================\nconst NIVEL_OVERRIDES = {\n  triagem: { model: 'claude-haiku-4-5', maxTokens: 2000 },\n  resumo:  { model: 'claude-sonnet-4-5', maxTokens: 8000 }\n};\nconst TRIAGEM_PREFIX = 'MODO TRIAGEM: Forne\u00e7a an\u00e1lise concisa e r\u00e1pida. Limite-se ao essencial de cada se\u00e7\u00e3o.\\n\\n';\n\n// ============================================================\n// BUILD USER MESSAGE\n// ============================================================\nconst taskPromptBase = TASKS[tipoAnalise];\nconst taskPrompt = nivelProfundidade === 'triagem' ? TRIAGEM_PREFIX + taskPromptBase : taskPromptBase;\nlet selectedModel = MODEL_MAP[tipoAnalise] || 'claude-sonnet-4-5';\nlet maxTokens = MAX_TOKENS_MAP[tipoAnalise] || 16000;\nconst nivelOverride = NIVEL_OVERRIDES[nivelProfundidade];\nif (nivelOverride) {\n  selectedModel = nivelOverride.model;\n  maxTokens = nivelOverride.maxTokens;\n}\n\nlet userMessage = taskPrompt + '\\n\\n---\\n\\n';\n\nif (hasFullText) {\n  userMessage += `DADOS DO EDITAL:\\n` +\n    `- T\u00edtulo: ${edital.titulo || 'N/I'}\\n` +\n    `- \u00d3rg\u00e3o: ${edital.orgao || 'N/I'} (${edital.uf || 'N/I'})\\n` +\n    `- Modalidade: ${edital.modalidade || 'N/I'}\\n` +\n    `- PNCP ID: ${edital.pncp_id || 'N/I'}\\n\\n` +\n    `TEXTO COMPLETO DO EDITAL E ANEXOS:\\n\\n` +\n    textoTruncado;\n\n  if (truncated) {\n    userMessage += `\\n\\nNOTA: O texto foi truncado de ${textoEdital.length.toLocaleString()} para ${MAX_CHARS.toLocaleString()} caracteres por limite de contexto.`;\n  }\n} else {\n  const valor = edital.valor_estimado;\n  userMessage += `DADOS DISPON\u00cdVEIS DO EDITAL (texto completo n\u00e3o dispon\u00edvel):\\n\\n` +\n    `- T\u00edtulo: ${edital.titulo || 'N/I'}\\n` +\n    `- \u00d3rg\u00e3o: ${edital.orgao || 'N/I'} (${edital.uf || 'N/I'})\\n` +\n    `- Modalidade: ${edital.modalidade || 'N/I'}\\n` +\n    `- Valor Estimado: ${typeof valor === 'number' ? 'R$ ' + valor.toLocaleString('pt-BR', {minimumFractionDigits: 2}) : valor || 'N\u00e3o informado'}\\n` +\n    `- Encerramento: ${edital.data_encerramento || 'N/I'}\\n` +\n    `- URL: ${edital.url_pncp || ''}\\n\\n` +\n    `Descri\u00e7\u00e3o do Objeto:\\n${edital.objeto || 'N/I'}\\n\\n` +\n    `NOTA: O texto completo do edital n\u00e3o est\u00e1 dispon\u00edvel. Elabore a an\u00e1lise com base nos dados acima, indicando claramente quais se\u00e7\u00f5es n\u00e3o puderam ser preenchidas por falta de informa\u00e7\u00e3o.`;\n}\n\n// Contexto adicional da empresa (opcional, enviado pelo Portal)\nif (contextoEmpresa) {\n  userMessage += `\\n\\n---\\n\\nCONTEXTO DA EMPRESA LICITANTE:\\n${contextoEmpresa}`;\n}\n\n// --- DataJud context injection (Feature 2 \u2014 from active v3) ---\nlet datajudContext = '';\nconst datajudOrgao = edital.datajud_orgao;\nif (datajudOrgao && typeof datajudOrgao === 'object' && datajudOrgao.total_processos > 0) {\n    const resumo = datajudOrgao.resumo || {};\n    const porClasse = resumo.por_classe || {};\n    const classeList = Object.entries(porClasse).map(([k, v]) => k + ' (' + v + ')').join(', ');\n    datajudContext = '\\n\\n--- CONTEXTO JUDICIAL DO \u00d3RG\u00c3O (DataJud/CNJ) ---\\n';\n    datajudContext += 'O \u00f3rg\u00e3o licitante possui ' + datajudOrgao.total_processos + ' processos judiciais registrados.\\n';\n    datajudContext += 'Distribui\u00e7\u00e3o por tipo: ' + classeList + '.\\n';\n    if (resumo.mais_recente) datajudContext += 'Processo mais recente: ' + resumo.mais_recente + '.\\n';\n    if (resumo.mais_antigo) datajudContext += 'Processo mais antigo: ' + resumo.mais_antigo + '.\\n';\n    datajudContext += 'Considere estas informa\u00e7\u00f5es ao avaliar riscos na an\u00e1lise.\\n';\n}\nuserMessage += datajudContext;\n\n// Instru\u00e7\u00f5es complementares do usu\u00e1rio (injetadas por \u00faltimo, maior prioridade)\nif (instrucoesComplementares) {\n  userMessage += `\\n\\n---\\n\\nINSTRU\u00c7\u00d5ES COMPLEMENTARES DO USU\u00c1RIO:\\n${instrucoesComplementares}`;\n}\n\nreturn [{ json: {\n  edital_id: edital.edital_id,\n  pncp_id: edital.pncp_id,\n  tipo_analise: tipoAnalise,\n  nivel_profundidade: nivelProfundidade,\n  instrucoes_complementares: instrucoesComplementares,\n  trace_id: edital.trace_id || null,\n  system_prompt: SYSTEM_BASE,\n  user_message: userMessage,\n  selected_model: selectedModel,\n  max_tokens: maxTokens,\n  has_full_text: hasFullText,\n  texto_chars: textoTruncado ? textoTruncado.length : 0\n} }];"
                },
                "id": "0c6872e2-644e-43d0-86f2-210c0ccc7a53",
                "name": "Build Analysis Prompt",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    2424,
                    0
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "http://192.168.100.13:4000/v1/chat/completions",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Authorization",
                                "value": "Bearer sk-sunyata-ec909e5420572a4c8c496822a9459bcdec1391c7"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={\n  \"messages\": [\n    { \"role\": \"system\", \"content\": {{ JSON.stringify($json.system_prompt) }} },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.user_message) }} }\n  ],\n  \"model\": \"{{ $json.selected_model || 'claude-sonnet-4-5' }}\",\n  \"max_tokens\": {{ $json.max_tokens || 16000 }},\n  \"temperature\": 0.2\n}",
                    "options": {
                        "timeout": 480000
                    }
                },
                "id": "40ac74f5-47d7-4053-89cc-fe7cdbf4139f",
                "name": "Call LiteLLM",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    2616,
                    0
                ]
            },
            {
                "parameters": {
                    "jsCode": "// ============================================================\n// PROCESS LLM RESPONSE \u2014 v3.1: dynamic cost, modo_analise\n// ============================================================\nconst llmResponse = $json;\n// Build Partial Prompt or Build Analysis Prompt may have produced the data\nlet promptData;\ntry {\n  promptData = $('Build Analysis Prompt').first().json;\n} catch(e) {\n  try {\n    promptData = $('Build Partial Prompt').first().json;\n  } catch(e2) {\n    promptData = {};\n  }\n}\n\nconst choices = llmResponse.choices || [];\nconst content = choices.length > 0 ? (choices[0].message?.content || '') : '';\nconst model = llmResponse.model || promptData.selected_model || 'claude-sonnet-4-5';\nconst usage = llmResponse.usage || {};\nconst tokensIn = usage.prompt_tokens || 0;\nconst tokensOut = usage.completion_tokens || 0;\nconst tokensTotal = usage.total_tokens || (tokensIn + tokensOut);\nconst tipoAnalise = promptData.tipo_analise;\nconst modoAnalise = promptData.modo_analise || 'completo';\nconst nivelProfundidade = promptData.nivel_profundidade || 'completa';\nconst traceId = promptData.trace_id || null;\n\n// Custo por modelo (USD per 1K tokens)\nconst COST_MAP = {\n  'claude-sonnet-4-5':  { input: 0.003, output: 0.015 },\n  'claude-haiku-4-5':   { input: 0.0008, output: 0.004 },\n  'claude-opus-4-5':    { input: 0.015, output: 0.075 }\n};\nconst modelBase = Object.keys(COST_MAP).find(k => model.includes(k)) || 'claude-sonnet-4-5';\nconst costs = COST_MAP[modelBase];\nconst custoUsd = (tokensIn * costs.input / 1000) + (tokensOut * costs.output / 1000);\n\nif (!content) {\n  return [{ json: {\n    edital_id: promptData.edital_id,\n    status: 'erro',\n    resultado: JSON.stringify({\n      error: true,\n      message: llmResponse.error?.message || 'Empty response from LiteLLM',\n      tipo_analise: tipoAnalise\n    }),\n    model: model,\n    tokens: tokensTotal,\n    tokens_input: tokensIn,\n    tokens_output: tokensOut,\n    custo_usd: custoUsd,\n    tipo_analise: tipoAnalise,\n    nivel_profundidade: nivelProfundidade,\n    trace_id: traceId,\n    has_full_text: promptData.has_full_text || false,\n    modo_analise: modoAnalise\n  }}];\n}\n\n// Build JSONB fragment \u2014 Portal reads: resultado.resumo_executivo, resultado.habilitacao, etc.\nconst jsonbFragment = {};\njsonbFragment[tipoAnalise] = content;\njsonbFragment.tipo_analise = tipoAnalise;\njsonbFragment.versao_prompt = '3.1';\njsonbFragment.modelo_usado = model;\njsonbFragment.modo_analise = modoAnalise;\n\nreturn [{ json: {\n  edital_id: promptData.edital_id,\n  pncp_id: promptData.pncp_id,\n  status: 'concluida',\n  resultado: JSON.stringify(jsonbFragment),\n  model: model,\n  tokens: tokensTotal,\n  tokens_input: tokensIn,\n  tokens_output: tokensOut,\n  custo_usd: custoUsd,\n  tipo_analise: tipoAnalise,\n  nivel_profundidade: nivelProfundidade,\n  trace_id: traceId,\n  has_full_text: promptData.has_full_text || false,\n  modo_analise: modoAnalise\n}}];"
                },
                "id": "66cf19b1-e19e-44e7-be71-acd37266238c",
                "name": "Process LLM Response",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    2824,
                    0
                ]
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "=UPDATE pncp_editais SET status_analise = '{{ $json.status }}', analise_resultado = COALESCE(analise_resultado, '{}'::jsonb) || $TAG${{ $json.resultado }}$TAG$::jsonb, analise_modelo = '{{ $json.model }}', analise_tipo = '{{ $json.tipo_analise }}', analise_nivel = '{{ $json.nivel_profundidade }}', analise_instrucoes_complementares = NULLIF($INSTRTAG${{ $json.instrucoes_complementares || '' }}$INSTRTAG$, ''), analise_tokens = {{ $json.tokens }}, analise_tokens_input = {{ $json.tokens_input }}, analise_tokens_output = {{ $json.tokens_output }}, analise_custo_usd = {{ $json.custo_usd }}, analise_concluida_em = NOW(), analise_com_texto_completo = {{ $json.has_full_text }}, updated_at = NOW() WHERE id = {{ $json.edital_id }};",
                    "options": {}
                },
                "id": "2e3cc335-ee01-42e3-84c7-1fab0d705435",
                "name": "Save Analysis Result",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    3016,
                    0
                ],
                "credentials": {
                    "postgres": {
                        "id": "sunyata-pg-001",
                        "name": "Sunyata PostgreSQL"
                    }
                }
            },
            {
                "parameters": {
                    "jsCode": "// ============================================================\n// FORMAT RESPONSE \u2014 v3.3: dual-pattern Mode C detection\n// N8N 2.7.5 behavior: accessing unexecuted node via $('Name').first()\n// may throw OR return {json:{}}. We handle both:\n// 1. try/catch: catches the throw case\n// 2. sentinel field check: handles the {} return case\n// ============================================================\n\nlet parsed = null;\n\n// Try Process LLM Response (Modes A and B)\ntry {\n  const llmData = $('Process LLM Response').first().json;\n  if (llmData && llmData.edital_id) {\n    parsed = llmData;\n  }\n} catch(e) {\n  // Process LLM Response did not execute (Mode C path) \u2014 try fallback\n}\n\n// Fallback: Build Insufficient Response (Mode C)\nif (!parsed) {\n  try {\n    const insufficientData = $('Build Insufficient Response').first().json;\n    if (insufficientData && insufficientData.edital_id) {\n      parsed = insufficientData;\n    }\n  } catch(e) {\n    // Neither node executed \u2014 should not happen in normal flow\n  }\n}\n\n// Last resort: empty shell to avoid null errors\nif (!parsed) {\n  parsed = {};\n}\n\nreturn [{ json: {\n  success: parsed.status === 'concluida' || parsed.status === 'insuficiente',\n  edital_id: parsed.edital_id,\n  tipo_analise: parsed.tipo_analise,\n  nivel_profundidade: parsed.nivel_profundidade || 'completa',\n  status: parsed.status,\n  modelo: parsed.model,\n  tokens_input: parsed.tokens_input || 0,\n  tokens_output: parsed.tokens_output || 0,\n  custo_usd: parsed.custo_usd || 0.0,\n  com_texto_completo: parsed.has_full_text || false,\n  modo_analise: parsed.modo_analise || 'unknown',\n  versao_prompt: '3.3',\n  timestamp: new Date().toISOString()\n} }];"
                },
                "id": "41de58c8-33e5-4d50-9721-6b5c95a279e7",
                "name": "Format Response",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    3224,
                    0
                ]
            },
            {
                "parameters": {
                    "options": {
                        "responseCode": 200
                    }
                },
                "id": "d15c1dda-fcaf-444f-9261-d76f3f69cd29",
                "name": "Respond OK",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.5,
                "position": [
                    3416,
                    0
                ]
            },
            {
                "parameters": {
                    "jsCode": "// ============================================================\n// DETERMINE ANALYSIS MODE \u2014 v3.3\n// A: texto_completo in DB > 500 chars \u2192 use cached text (Sonnet)\n// A*: no text in DB but arquivos_pncp has PDFs \u2192 try extraction (\u2192 A or B on fail)\n// B: no text, no PDFs, has pncp_itens \u2192 partial analysis (Haiku)\n// C: no text, no PDFs, no items \u2192 no LLM call\n//\n// Key fix: verifica_edital / contratos / sg_contrato are forced to insuficiente\n// if no texto_completo (Mode B is not appropriate for those types)\n// ============================================================\nconst edital = $json;\n\nconst textoCompleto = edital.texto_completo || '';\nconst temTexto = textoCompleto.length > 500;\n\nlet itens = edital.pncp_itens;\nif (typeof itens === 'string') {\n  try { itens = JSON.parse(itens); } catch(e) { itens = null; }\n}\nconst itensList = Array.isArray(itens) ? itens : (itens && Array.isArray(itens.data) ? itens.data : null);\nconst temItens = itensList && itensList.length > 0;\n\nlet detalhes = edital.pncp_detalhes;\nif (typeof detalhes === 'string') {\n  try { detalhes = JSON.parse(detalhes); } catch(e) { detalhes = null; }\n}\n\n// Check if arquivos_pncp has downloadable files (PDFs or other docs)\nlet arquivos = edital.arquivos_pncp;\nif (typeof arquivos === 'string') {\n  try { arquivos = JSON.parse(arquivos); } catch(e) { arquivos = null; }\n}\nconst arquivosList = Array.isArray(arquivos) ? arquivos :\n                     (arquivos && Array.isArray(arquivos.data) ? arquivos.data : null);\nconst temArquivos = arquivosList && arquivosList.length > 0;\n\n// Types that require full document \u2014 cannot work in Mode B (partial)\nconst REQUIRES_FULL_TEXT = ['verifica_edital', 'contratos', 'sg_contrato'];\nconst tipoRequiresFullText = REQUIRES_FULL_TEXT.includes(edital.tipo_analise);\n\nlet modo;\nif (temTexto) {\n  // Text already cached in DB \u2014 use it directly\n  modo = 'completo';\n} else if (tipoRequiresFullText) {\n  // These types need full document: try extraction if files exist, else insuficiente\n  modo = temArquivos ? 'completo' : 'insuficiente';\n} else if (temArquivos) {\n  // No text cached but files exist \u2014 try PDF extraction\n  // Extract PDF Text node handles download; on failure Build Analysis Prompt uses metadata fallback\n  modo = 'completo';\n} else if (temItens) {\n  modo = 'parcial';\n} else {\n  modo = 'insuficiente';\n}\n\nreturn [{ json: {\n  ...edital,\n  modo_analise: modo,\n  tem_texto: temTexto,\n  has_texto_completo: temTexto,\n  tem_itens: temItens,\n  tem_arquivos: temArquivos,\n  pncp_itens_parsed: itensList,\n  pncp_detalhes_parsed: detalhes\n} }];"
                },
                "id": "determine-mode-001",
                "name": "Determine Analysis Mode",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1016,
                    0
                ]
            },
            {
                "parameters": {
                    "conditions": {
                        "string": [
                            {
                                "value1": "={{ $json.modo_analise }}",
                                "value2": "insuficiente"
                            }
                        ]
                    }
                },
                "id": "is-insuficiente-001",
                "name": "Is Insuficiente?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 1,
                "position": [
                    1216,
                    0
                ]
            },
            {
                "parameters": {
                    "jsCode": "// ============================================================\n// MODE C \u2014 Insufficient data, NO LLM call\n// ============================================================\nconst edital = $json;\n\nreturn [{ json: {\n  edital_id: edital.edital_id,\n  pncp_id: edital.pncp_id,\n  status: 'insuficiente',\n  resultado: JSON.stringify({\n    [edital.tipo_analise]: 'Dados insuficientes para an\u00e1lise. Os documentos deste edital n\u00e3o est\u00e3o dispon\u00edveis ou n\u00e3o puderam ser processados. Consulte diretamente no PNCP para baixar os documentos.',\n    reason: 'insufficient_data',\n    pncp_url: edital.url_pncp || '',\n    versao_prompt: '3.1',\n    modo_analise: 'insuficiente'\n  }),\n  model: 'none',\n  tokens: 0,\n  tokens_input: 0,\n  tokens_output: 0,\n  custo_usd: 0,\n  tipo_analise: edital.tipo_analise,\n  nivel_profundidade: edital.nivel_profundidade || 'completa',\n  instrucoes_complementares: edital.instrucoes_complementares || null,\n  trace_id: edital.trace_id || null,\n  has_full_text: false,\n  modo_analise: 'insuficiente'\n} }];"
                },
                "id": "build-insufficient-001",
                "name": "Build Insufficient Response",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1416,
                    208
                ]
            },
            {
                "parameters": {
                    "conditions": {
                        "string": [
                            {
                                "value1": "={{ $json.modo_analise }}",
                                "value2": "completo"
                            }
                        ]
                    }
                },
                "id": "has-full-text-001",
                "name": "Has Full Text?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 1,
                "position": [
                    1416,
                    0
                ]
            },
            {
                "parameters": {
                    "jsCode": "// ============================================================\n// BUILD PARTIAL ANALYSIS PROMPT \u2014 Mode B (items + metadata only)\n// ============================================================\nconst edital = $json;\nconst tipoAnalise = edital.tipo_analise;\nconst itens = edital.pncp_itens_parsed || [];\nconst detalhes = edital.pncp_detalhes_parsed || {};\n\nconst SYSTEM_BASE = `Voc\u00ea \u00e9 um analista especializado em contratos e editais de licita\u00e7\u00e3o no Brasil, com dom\u00ednio pr\u00e1tico da Lei n\u00ba 14.133/2021 e normativos correlatos. Voc\u00ea l\u00ea documentos de licita\u00e7\u00e3o (editais, termos de refer\u00eancia, anexos, minutas de contrato, erratas, esclarecimentos) e produz an\u00e1lises t\u00e9cnicas estruturadas.\n\nREGRAS INVIOL\u00c1VEIS\n\n1. LITERALIDADE: Relatar apenas o que estiver explicitamente previsto nos documentos fornecidos. N\u00e3o presumir pr\u00e1ticas usuais, interpreta\u00e7\u00f5es extensivas nem entendimentos impl\u00edcitos.\n2. FONTES EXCLUSIVAS: Basear a an\u00e1lise apenas nos documentos fornecidos pelo usu\u00e1rio. N\u00e3o usar fontes externas, pesquisas na internet nem conhecimento geral sobre editais.\n3. LEITURA INTEGRAL: Ler todos os documentos fornecidos em sua totalidade \u2014 capas, \u00edndices, quadros, tabelas, notas de rodap\u00e9, ap\u00eandices, modelos e anexos.\n4. AUS\u00caNCIAS: Se um requisito comumente esperado n\u00e3o for encontrado em nenhum documento, registr\u00e1-lo como \"n\u00e3o exigido\" \u2014 sem ju\u00edzo de valor.\n5. CONSOLIDA\u00c7\u00c3O: Se o mesmo requisito aparecer em mais de um ponto, consolid\u00e1-lo em um \u00fanico item. Indicar todas as refer\u00eancias onde ocorre. Destacar diferen\u00e7as de reda\u00e7\u00e3o, condi\u00e7\u00f5es adicionais, exce\u00e7\u00f5es ou prazos distintos entre as ocorr\u00eancias.\n6. IMPARCIALIDADE: N\u00e3o emitir pareceres jur\u00eddicos, conclus\u00f5es subjetivas, recomenda\u00e7\u00f5es nem opini\u00f5es. Limitar-se a descrever e compilar informa\u00e7\u00f5es.\n7. SEM DIVAGA\u00c7\u00d5ES: N\u00e3o incluir sauda\u00e7\u00f5es, coment\u00e1rios pessoais, men\u00e7\u00f5es a \"boas pr\u00e1ticas\", sugest\u00f5es nem conclus\u00f5es subjetivas.\n\nFORMATA\u00c7\u00c3O\n\n- Idioma: Portugu\u00eas (Brasil), linguagem formal, clara, objetiva.\n- Estrutura: Relat\u00f3rio t\u00e9cnico com numera\u00e7\u00e3o hier\u00e1rquica (1., 1.1, 1.1.1). Listas numeradas ou com marcadores. At\u00e9 3 n\u00edveis de profundidade.\n- T\u00edtulos: Em MAI\u00daSCULAS com numera\u00e7\u00e3o. Sem sintaxe Markdown (#, ##) nem tags HTML.\n- Rastreabilidade: Em cada item relevante, indicar a fonte em it\u00e1lico: [se\u00e7\u00e3o/cl\u00e1usula, p\u00e1g. PDF X; p\u00e1g. interna Y]. Se n\u00e3o houver pagina\u00e7\u00e3o: [se\u00e7\u00e3o/t\u00edtulo].\n- Listas: Sem tabelas (exceto quando a tarefa solicitar explicitamente). Conte\u00fado em listas numeradas ou com marcadores.\n- Layout: Sem recuos artificiais. Sem separadores visuais (---, _____, *, barras). Separa\u00e7\u00e3o apenas por numera\u00e7\u00e3o e t\u00edtulos.\n- Datas: DD/MM/AAAA HH:MM (Bras\u00edlia), em ordem cronol\u00f3gica. Converter prazos relativos em datas apenas se todos os elementos estiverem expl\u00edcitos; caso contr\u00e1rio, manter o prazo relativo e indicar qual elemento falta.\n- Valores: R$ 0.000,00 (ponto para milhares, v\u00edrgula para decimais).\n- Organiza\u00e7\u00e3o: Respeitar as se\u00e7\u00f5es definidas pela tarefa. N\u00e3o repetir conte\u00fado entre se\u00e7\u00f5es. Usar refer\u00eancias cruzadas quando necess\u00e1rio.\n\nTRATAMENTO DE EDGE CASES\n\n- Erratas que contradizem o corpo principal: Registrar ambas as reda\u00e7\u00f5es, indicar a errata como prevalecente e anotar a contradi\u00e7\u00e3o.\n- Anexos referenciados mas n\u00e3o fornecidos: Registrar como \"Anexo [X] referenciado em [localiza\u00e7\u00e3o] \u2014 n\u00e3o fornecido para an\u00e1lise\".\n- Documentos com OCR de baixa qualidade: Se trechos estiverem ileg\u00edveis, indicar \"[trecho ileg\u00edvel em p\u00e1g. PDF X]\".\n- Informa\u00e7\u00f5es conflitantes entre documentos: Registrar ambas as vers\u00f5es com suas respectivas localiza\u00e7\u00f5es, sem eleger uma como correta.`;\n\n// Format items list\nlet itensText = '';\nif (itens.length > 0) {\n  itensText = 'ITENS DA LICITA\u00c7\u00c3O:\\n\\n';\n  for (const item of itens) {\n    const sigiloso = item.orcamentoSigiloso;\n    const valorUnit = sigiloso ? 'Sigiloso'\n      : (item.valorUnitarioEstimado != null\n          ? 'R$ ' + Number(item.valorUnitarioEstimado).toLocaleString('pt-BR', {minimumFractionDigits: 2})\n          : 'N/I');\n    itensText += `- Item ${item.numeroItem}: ${item.descricao || 'N/I'} | Qtd: ${item.quantidade || 'N/I'} ${item.unidadeMedida || ''} | Valor unit.: ${valorUnit} | Crit\u00e9rio: ${item.criterioJulgamentoNome || 'N/I'}\\n`;\n  }\n}\n\nconst amparoLegalRaw = detalhes.amparoLegal || detalhes.amparoLegalNome || '';\nconst amparoLegal = typeof amparoLegalRaw === 'object' ? (amparoLegalRaw.nome || '') : amparoLegalRaw;\n\nconst srp = detalhes.srp != null ? (detalhes.srp ? 'Sim' : 'N\u00e3o') : 'N/I';\n\nlet valorEstimado = 'N\u00e3o informado';\nif (typeof edital.valor_estimado === 'number' && edital.valor_estimado > 0) {\n  valorEstimado = 'R$ ' + edital.valor_estimado.toLocaleString('pt-BR', {minimumFractionDigits: 2});\n} else if (detalhes.orcamentoSigilosoDescricao) {\n  valorEstimado = detalhes.orcamentoSigilosoDescricao;\n}\n\nconst userMessage = `TAREFA: AN\u00c1LISE PARCIAL DO EDITAL (baseada em metadados da API PNCP)\n\nAVISO: O texto completo do edital N\u00c3O est\u00e1 dispon\u00edvel. Esta an\u00e1lise \u00e9 baseada apenas nos dados estruturados da API PNCP (metadados e itens). Gere SOMENTE as 5 se\u00e7\u00f5es abaixo \u2014 n\u00e3o invente se\u00e7\u00f5es adicionais nem tente preencher se\u00e7\u00f5es que dependem do texto do edital.\n\n1. INFORMA\u00c7\u00d5ES ESSENCIAIS\n2. RESUMO EXECUTIVO (parcial \u2014 apenas o que os dados estruturados permitem)\n3. DETALHAMENTO DO OBJETO (itens da API com quantidades e valores)\n10. VALORES (or\u00e7amento estimado conforme API \u2014 se sigiloso, declarar explicitamente)\n12. RISCOS E LIMITA\u00c7\u00d5ES DA AN\u00c1LISE \u2014 liste as se\u00e7\u00f5es n\u00e3o geradas, o que falta para an\u00e1lise completa, e link para documentos no PNCP\n\nNota: Se\u00e7\u00f5es 4, 5, 6, 7, 8, 9, 11 dependem do texto do edital e n\u00e3o ser\u00e3o geradas nesta an\u00e1lise parcial.\n\n---\n\nDADOS DO EDITAL:\n- T\u00edtulo: ${edital.titulo || 'N/I'}\n- \u00d3rg\u00e3o: ${edital.orgao || 'N/I'} (${edital.uf || 'N/I'})\n- Modalidade: ${edital.modalidade || detalhes.modalidadeLicitacaoNome || 'N/I'}\n- Modo de Disputa: ${detalhes.modoDisputaNome || 'N/I'}\n- Amparo Legal: ${amparoLegal || 'N/I'}\n- SRP: ${srp}\n- Processo: ${detalhes.processo || 'N/I'}\n- Valor Estimado: ${valorEstimado}\n- Encerramento: ${edital.data_encerramento || 'N/I'}\n- URL: ${edital.url_pncp || 'N/I'}\n\nDescri\u00e7\u00e3o do Objeto:\n${edital.objeto || 'N/I'}\n\n${itensText}${detalhes.informacaoComplementar ? '\\nINFORMA\u00c7\u00c3O COMPLEMENTAR:\\n' + detalhes.informacaoComplementar : ''}`;\n\nreturn [{ json: {\n  edital_id: edital.edital_id,\n  pncp_id: edital.pncp_id,\n  tipo_analise: tipoAnalise,\n  system_prompt: SYSTEM_BASE,\n  user_message: userMessage,\n  selected_model: 'claude-haiku-4-5',\n  max_tokens: 4000,\n  has_full_text: false,\n  texto_chars: userMessage.length,\n  modo_analise: 'parcial',\n  trace_id: edital.trace_id || null\n} }];"
                },
                "id": "build-partial-001",
                "name": "Build Partial Prompt",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1616,
                    208
                ]
            },
            {
                "id": "log-whr-001",
                "name": "Log: webhook.received",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    400,
                    208
                ],
                "credentials": {
                    "postgres": {
                        "id": "sunyata-pg-001",
                        "name": "Sunyata PostgreSQL"
                    }
                },
                "onError": "continueRegularOutput",
                "parameters": {
                    "operation": "executeQuery",
                    "query": "=INSERT INTO system_events (trace_id, source, event_type, severity, entity_type, entity_id, summary, payload) VALUES ({{ $json.trace_id ? '\\'' + $json.trace_id + '\\'' : 'NULL' }}::uuid, 'n8n', 'iatr.webhook.received', 'info', 'edital', '{{ $json.edital_id }}', 'Webhook recebido: {{ $json.tipo_analise }} ({{ $json.nivel_profundidade }})', '{{ JSON.stringify({ tipo_analise: $json.tipo_analise, nivel_profundidade: $json.nivel_profundidade, tem_instrucoes: !!$json.instrucoes_complementares }) }}'::jsonb);",
                    "options": {}
                }
            },
            {
                "id": "log-mod-001",
                "name": "Log: mode.determined",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    1016,
                    208
                ],
                "credentials": {
                    "postgres": {
                        "id": "sunyata-pg-001",
                        "name": "Sunyata PostgreSQL"
                    }
                },
                "onError": "continueRegularOutput",
                "parameters": {
                    "operation": "executeQuery",
                    "query": "=INSERT INTO system_events (trace_id, source, event_type, severity, entity_type, entity_id, summary, payload) VALUES ({{ $json.trace_id ? '\\'' + $json.trace_id + '\\'' : 'NULL' }}::uuid, 'n8n', 'iatr.mode.determined', 'info', 'edital', '{{ $json.edital_id }}', 'Modo: {{ $json.modo_analise }} | Texto: {{ $json.tem_texto }} | Itens: {{ $json.tem_itens }} | Arquivos: {{ $json.tem_arquivos }}', '{{ JSON.stringify({ modo_analise: $json.modo_analise, tem_texto: $json.tem_texto, tem_itens: $json.tem_itens, tem_arquivos: $json.tem_arquivos }) }}'::jsonb);",
                    "options": {}
                }
            },
            {
                "id": "log-llm-001",
                "name": "Log: llm.completed",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    2824,
                    208
                ],
                "credentials": {
                    "postgres": {
                        "id": "sunyata-pg-001",
                        "name": "Sunyata PostgreSQL"
                    }
                },
                "onError": "continueRegularOutput",
                "parameters": {
                    "operation": "executeQuery",
                    "query": "=INSERT INTO system_events (trace_id, source, event_type, severity, entity_type, entity_id, summary, payload) VALUES ({{ $json.trace_id ? '\\'' + $json.trace_id + '\\'' : 'NULL' }}::uuid, 'n8n', '{{ $json.status === \"erro\" ? \"iatr.llm.failed\" : \"iatr.llm.completed\" }}', '{{ $json.status === \"erro\" ? \"error\" : \"info\" }}', 'edital', '{{ $json.edital_id }}', '{{ $json.model }}: {{ $json.tokens_input }}in/{{ $json.tokens_output }}out - ${{ $json.custo_usd }}', '{{ JSON.stringify({ model: $json.model, tokens_input: $json.tokens_input, tokens_output: $json.tokens_output, custo_usd: $json.custo_usd, modo_analise: $json.modo_analise, status: $json.status }) }}'::jsonb);",
                    "options": {}
                }
            },
            {
                "id": "log-ana-001",
                "name": "Log: analysis.completed",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    3016,
                    208
                ],
                "credentials": {
                    "postgres": {
                        "id": "sunyata-pg-001",
                        "name": "Sunyata PostgreSQL"
                    }
                },
                "onError": "continueRegularOutput",
                "parameters": {
                    "operation": "executeQuery",
                    "query": "=INSERT INTO system_events (trace_id, source, event_type, severity, entity_type, entity_id, summary, payload, duration_ms) VALUES ({{ $('Validate Input').first().json.trace_id ? '\\'' + $('Validate Input').first().json.trace_id + '\\'' : 'NULL' }}::uuid, 'n8n', 'iatr.analysis.completed', '{{ (() => { try { const d = $(\"Process LLM Response\").first().json; if (d && d.edital_id) return d.status === \"erro\" ? \"error\" : \"info\"; } catch(e){} return \"info\"; })() }}', 'edital', '{{ (() => { try { const d = $(\"Process LLM Response\").first().json; if (d && d.edital_id) return \"\" + d.edital_id; } catch(e){} try { const d = $(\"Build Insufficient Response\").first().json; if (d && d.edital_id) return \"\" + d.edital_id; } catch(e){} return \"0\"; })() }}', '{{ (() => { try { const d = $(\"Process LLM Response\").first().json; if (d && d.edital_id) return d.status + \": \" + d.tipo_analise + \" (\" + d.modo_analise + \")\"; } catch(e){} try { const d = $(\"Build Insufficient Response\").first().json; if (d && d.edital_id) return \"insuficiente: \" + d.tipo_analise; } catch(e){} return \"analysis.completed\"; })() }}', '{{ (() => { try { const d = $(\"Process LLM Response\").first().json; if (d && d.edital_id) return JSON.stringify({ tipo_analise: d.tipo_analise, status: d.status, modo_analise: d.modo_analise, nivel: d.nivel_profundidade, custo_usd: d.custo_usd, com_texto: d.has_full_text }); } catch(e){} try { const d = $(\"Build Insufficient Response\").first().json; if (d && d.edital_id) return JSON.stringify({ tipo_analise: d.tipo_analise, status: \"insuficiente\", modo_analise: \"insuficiente\", nivel: d.nivel_profundidade, custo_usd: 0, com_texto: false }); } catch(e){} return \"{}\"; })() }}'::jsonb, NULL);",
                    "options": {}
                }
            }
        ],
        "connections": {
            "Webhook Analisar": {
                "main": [
                    [
                        {
                            "node": "Check Auth",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Check Auth": {
                "main": [
                    [
                        {
                            "node": "Validate Input",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Respond 401",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Validate Input": {
                "main": [
                    [
                        {
                            "node": "Mark In Progress",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Log: webhook.received",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Mark In Progress": {
                "main": [
                    [
                        {
                            "node": "Check Edital Data",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Check Edital Data": {
                "main": [
                    [
                        {
                            "node": "Determine Analysis Mode",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Has Cached Text?": {
                "main": [
                    [
                        {
                            "node": "Build Analysis Prompt",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Extract PDF Text",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Extract PDF Text": {
                "main": [
                    [
                        {
                            "node": "Merge Extraction Result",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Merge Extraction Result": {
                "main": [
                    [
                        {
                            "node": "Build Analysis Prompt",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build Analysis Prompt": {
                "main": [
                    [
                        {
                            "node": "Call LiteLLM",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Call LiteLLM": {
                "main": [
                    [
                        {
                            "node": "Process LLM Response",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Process LLM Response": {
                "main": [
                    [
                        {
                            "node": "Save Analysis Result",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Log: llm.completed",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Save Analysis Result": {
                "main": [
                    [
                        {
                            "node": "Format Response",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Log: analysis.completed",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Format Response": {
                "main": [
                    [
                        {
                            "node": "Respond OK",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Determine Analysis Mode": {
                "main": [
                    [
                        {
                            "node": "Is Insuficiente?",
                            "type": "main",
                            "index": 0
                        },
                        {
                            "node": "Log: mode.determined",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Is Insuficiente?": {
                "main": [
                    [
                        {
                            "node": "Build Insufficient Response",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Has Full Text?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build Insufficient Response": {
                "main": [
                    [
                        {
                            "node": "Save Analysis Result",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Has Full Text?": {
                "main": [
                    [
                        {
                            "node": "Has Cached Text?",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Build Partial Prompt",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Build Partial Prompt": {
                "main": [
                    [
                        {
                            "node": "Call LiteLLM",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "FILIPE flitaiff@gmail.com",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-02-27T12:28:34.473Z",
                "id": 92,
                "workflowId": "4HJSmPLYTNTUnO8y",
                "versionId": "0c33c78f-2cac-4c7a-82ec-983f5965e0de",
                "event": "activated",
                "userId": "76b2cbce-e8f9-4d9f-8fc2-fd10d1c154e6"
            }
        ]
    }
}
